<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<head>
    <th:block th:include="include :: ace-css"/>
    <th:block th:include="include :: header('模态窗口')"/>
    <th:block th:include="include :: header('弹层组件')"/>
    <th:block th:include="include :: header('扫描')"/>
    <th:block th:include="include :: header('文件上传')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
    <!-- 文件上传 -->
    <th:block th:include="include :: bootstrap-fileinput-css"/>

</head>
<style>
    .btn-file, .file-caption {
        display: none;
    }

    .kv-upload-progress {
        display: none;
    }

    .file-download-indicator {
        float: left;
        width: 16px;
        height: 16px;
    }

    .krajee-default .file-caption-info, .krajee-default .file-size-info {
        width: 100%;
    }

    .krajee-default.file-preview-frame .kv-file-content {
        width: auto;
        min-height: 100px;
        height: 100px;
        overflow: hidden;
    }

    .col-9.file-preview .file-preview-thumbnails .file-preview-frame {
        width: 9.6%;
        max-height: 230px;
    }

    .col-9.file-preview .file-footer-buttons .btn {
        padding: 0 5px;
    }

    .col-5.file-preview .file-preview-thumbnails .file-preview-frame {
        width: 18%;
        max-height: 230px;
    }

    .col-3.file-preview .file-preview-thumbnails .file-preview-frame {
        width: 30%;
        max-height: 230px;
    }

    .file-preview-image {
        font-size: 16px;
        color: #3c8dbc;
    }

    .kv-file-content > img {
        /* margin-top: 25%;*/
    }

    .col-9.file-preview .file-preview-image {
        font-size: 12px;
    }

    .checkbox {
        position: absolute;
        bottom: -4px;
        left: 24px;
    }

    .file-upload-indicator {
        position: absolute;
        top: 0;
    }

    .selectAllBox {
        display: inline-block;
        height: 30px;
        margin-left: 20px;
    }

    .selectAllBox > label {
        margin-top: 10px;
    }
</style>
<body style="overflow: scroll; overflow-x: hidden">
<div style="width:100%">
    <!-- container -->
    <div class="container-div">
        <!-- 导航条 单据类型 -->
        <nav class=" navbar navbar-inverse" style="background-color:#fff;">
            <div class="btn-group" style="margin-top:10px;">
                <button type="button" style="background-color: #fff; border: 1px solid #ccc;color:#333;"
                        class="btn btn-primary btn-sm">每行显示 <span class="col-num">5</span> 个
                </button>
                <button type="button" style="background-color: #fff; border: 1px solid #ccc;color:#333;"
                        class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret" style="margin-top:-2px;"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" value="3">3</a></li>
                    <li><a href="#" value="5">5</a></li>
                    <li><a href="#" value="9">9</a></li>
                </ul>
            </div>
            <div class="form-group selectAllBox">
                <label for="selectAll"> <span class="selectAllTxt">全选</span>
                    <input id="selectAll" name="selectAll" type="checkbox" style="vertical-align: top"></label>
            </div>
            <div style="float:right;margin-top:10px; padding-bottom: 10px;" class="btn-group-sm">
                <button title="文件上传" type="button" class="btn btn-primary btn-sm" id="fileinput0" value="保存">
                    <span class="glyphicon glyphicon-upload"></span>&nbsp;上传文件
                </button>
                <button title="下载模板" type="button" class="btn btn-primary" id="myDownload" value="保存"
                        onclick="downLoadExcel()" style="margin-top: 0px; margin-bottom: 0px;">
                    <span class="glyphicon glyphicon-download"></span>&nbsp;下载帮助文档
                </button>
                <a id="downloadA" th:href="@{/js/help.docx}" hidden="true">&nbsp;&nbsp;模板下载</a>

                <button title='扫描' type='button' class='btn btn-primary btn-sm'
                        id='myScan' value='扫描'
                        style='margin-top: 0px; margin-bottom: 0px;'>
                    <span class='glyphicon glyphicon-print'></span>&nbsp;影像扫描
                </button>
                <button title='下载' type='button' class='btn btn-primary'
                        id='mySave' value='下载' onclick="downloadZip()"
                        style='margin-top: 0px; margin-bottom: 0px;'>
                    <span class='glyphicon glyphicon-download'></span>&nbsp;下载
                </button>
                <button title='关闭' type='button' class='btn btn-primary'
                        id='close' value='关闭' onclick="$.modal.closeTab();"
                        style='margin-top: 0px; margin-bottom: 0px; margin-right: 30px'>
                    <span class='glyphicon glyphicon-remove'></span>&nbsp;关闭
                </button>
            </div>
        </nav>
        <!-- 内容 -->
        <!--面板start-->
        <div id='sss' style="margin-top:20px;">
            <div class="form-group">
                <div class="file-loading">
                    <input id="fileInput" type="file" multiple="multiple">
                </div>
            </div>
        </div>
    </div>
    <!--定义弹出层，为了图片和音视频的预览-->
    <div class="ibox-content">
        <button id="videoButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4"
                style="display: none">基本动画
        </button>
        <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated fadeIn">
                    <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>-->
                    <!--</button>-->
                    <!--</div>-->

                    <!--D:\work1122\iacmp-parent\iacmp-biz\iacmp-biz-ams\src\main\resources\static\img\dsfghgdhfdjggkhj.tif-->
                    <div id="showContent" class="modal-bod">
                        <video controls id="media" autoplay
                               style="width: 90%;height: 90%;object-fit: fill;display: none">
                            <source id="v1" src="">
                        </video>
                        <img id="photos" style="height: 90%;width: 90%;display: none" src="" alt="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal" onclick="closeVideo()">关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!--跳转-->
<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $(".showContent").height($(window).height() - 300);
        $(".showContent").width(800)
    })

    var prefix = ctx + "archCollection/amsRecord";
    var fileIds = []; //  文件ID合集
    var imgIds = []; // 图片ID合集
    var idArr = [];
    var checkedStr = '';
    var total = 0;

    // 下载帮助文档
    function downLoadExcel() {
        document.getElementById("downloadA").click();
        // window.location.href = prefix + "/downloadHelp";
    }

    // 文件上传
    $(document).ready(function () {
        var maxUploadSize = [[${maxUploadSize}]];
        var fileLists, imageLists;
        var urlLists = []; // 文件地址集合
        var initialPreviewConfig = [];
        var batchId = [[${batchId}]];

        if ([[${fileList}]]) {
            fileLists = [[${fileList}]];

            for (var j = 0; j < fileLists.length; j++) {
                urlLists.push(fileLists[j].filePath);
                var fileObj = {};
                var farr = fileLists[j].fileName.split('.');
                var ftype = farr[farr.length - 1];
                switch (ftype) {
                    case "pdf":
                        fileObj.type = "other";
                        break;
                    case "doc":
                    case "docx":
                        fileObj.type = "other";
                        break;
                    case "xls" :
                    case "xlsx":
                        fileObj.type = "other";
                        break;
                    case "txt":
                        fileObj.type = "other";
                        break;
                    default:
                        fileObj.type = "other";
                }
                // fileObj.type = fileLists[j].fileName.split('.')[1];
                fileObj.caption = fileLists[j].fileName;
                fileObj.key = fileLists[j].id;
                fileObj.size = fileLists[j].fileSize * 1024;
                //  fileObj.url = fileLists[j].filePath;
                // fileObj.downloadUrl = fileLists[j].filePath;
                initialPreviewConfig.push(fileObj);
                fileIds.push(fileLists[j].fileId);
            }
        }
        if ([[${imageList}]]) {
            imageLists = [[${imageList}]];
            // console.log(imageLists)
            for (var i = 0; i < imageLists.length; i++) {
                language: 'zh',
                    urlLists.push(imageLists[i].imageServerUrl);
                var imgObj = {};
                imgObj.type = 'image';
                imgObj.caption = imageLists[i].imageName;
                imgObj.key = imageLists[i].id;
                imgObj.size = imageLists[i].imageSize * 1024;
                //  imgObj.url =imageLists[i].imagePath;

                initialPreviewConfig.push(imgObj);
                imgIds.push(imageLists[i].imageId);
            }
        }
        idArr = fileIds.concat(imgIds);
        // 获取数据，列表拼接

        var prefix = ctx + "archCollection/amsRecord";
        // 权限码
        var permission = [[${permission}]];
        var code = new Array('0', '0', '0');
        if (permission != null) {
            code = permission.split('');
        }
        var showUpload = code[0] - 0;
        var showDownload = code[1] - 0;
        var showDele = code[2] - 0;
        // 生成预览列表

        // 底部按钮
        var checkBtn =
            '<button type="button" onclick="openFile($(this))" class="btn btn-sm btn-kv btn-default btn-outline-secondary" data-url="{data}" {dataKey} title="查看详情"><i class="glyphicon glyphicon-zoom-in"></i></button>';
        if (showDownload) {
            checkBtn += '<div class="checkbox left">' +
                '<input type="checkbox" name="checked"></div>' +
                '<button type="button" id="downloadBtn" onclick="downloadFile($(this))" class="btn btn-default btn-sm downloadBtn" data-url="" title="下载文件" data-caption="" {dataKey}>' +
                '   <i class="glyphicon glyphicon-download"></i>' +
                '</button>';
        }
        if (showDele) {
            checkBtn += '<button type="button" onclick="deleteFiles($(this))" class="kv-file-remove btn btn-sm btn-default" title="删除文件" fileUrl="{data}" data-url="" {dataKey}><i class="glyphicon glyphicon-trash"></i></button>'
        }
        setTimeout(function () {
            $('.file-preview').addClass('col-5');
            $('.file-caption-main').css('display', 'none');
        }, 20)
        // 展示布局
        $('.dropdown-menu>li>a').on('click', function () {
            var boxWidth = $('#sss').width();
            var num = $(this).text();
            $('.col-num').text($(this).text());
            if (num == 3) {
                $('.file-preview').removeClass().addClass('col-3 file-preview')
            } else if (num == 5) {
                $('.file-preview').removeClass().addClass('col-5 file-preview')
            } else if (num == 9) {
                $('.file-preview').removeClass().addClass('col-9 file-preview')
            }
        })

        // 隐藏上传

        if (!showUpload) {
            $("#fileinput0").css('display', 'none');
            $("#myScan").css('display', 'none');

        }
        // 隐藏下载
        if (!showDownload) {
            $("#mySave").css('display', 'none');
            $('.selectAllBox').css('display', 'none');
        }
        // 初始化上传
        uploadInit();

        function uploadInit() {
            var control = $('#fileInput');
            //初始化上传控件的样式
            control.fileinput('destroy');  // 直接销毁
            control.fileinput({ //  控件回显重新初始化
                showCaption: true,
                showClose: false,
                preferIconicPreview: true, // 开启用图标替换预览效果
                initialPreview: urlLists, // 初始化回显
                initialPreviewConfig: initialPreviewConfig, //回显类型配值
                preferIconicZoomPreview: true,
                // 限制文件上传后缀名
                allowedFileExtensions: ["doc", "docx", "xls", "xlsx", "ppt", "pptx", "txt", "pdf", "rar", "zip", "mp3", "mp4", "avi", "mpeg", "rmvb", "jpg", "png", "bmp", "tif", "gif"],
                maxFileSize: maxUploadSize,

                // 整体上传和移除
                showUpload: false, //是否上传文件
                showRemove: false, //是否显示移除
                allowedPreviewTypes: ['image'],
                //设置新得单个文件的显示样式
                fileActionSettings: {
                    showUpload: false,
                    showRemove: true,
                    showDrag: false,
                    showDownload: true,
                    //indicatorNew: '',
                    downloadClass: 'btn btn-sm btn-default file_download_btn',
                    removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
                },
                //设置回显单个文件的显示样式
                layoutTemplates: {
                    actionUpload: '',
                    actionDownload: '<button type="button" onclick="downloadFile(this)"  class="{downloadClass}" title="{downloadTitle}" data-url="{downloadUrl}" data-caption="{caption}">{downloadIcon}</button>\n',
                    actionDelete: '',
                    actionZoom: ''
                },
                // 预览界面按钮
                previewZoomButtonIcons: {
                    prev: '',
                    next: '',
                    toggleheader: '<i class="glyphicon glyphicon-resize-vertical"></i>',
                    fullscreen: '<i class="glyphicon glyphicon-fullscreen"></i>',
                    borderless: '<i class="glyphicon glyphicon-resize-full"></i>',
                    close: '<i class="glyphicon glyphicon-remove"></i>'
                },
                //下载按钮
                otherActionButtons: checkBtn,
                showAjaxErrorDetails: true,
                previewFileIcon: "<i class='fa fa-file-o'></i>",
                previewFileIconSettings: { // configure your icon file extensions
                    'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                    'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                    'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                    'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                    'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                    'txt': '<i class="fa fa-file-text-o text-info"></i>',
                    'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'htm': '<i class="fa fa-file-code-o text-info"></i>',
                    'mov': '<i class="fa fa-file-movie-o text-warning"></i>',
                    'mp3': '<i class="fa fa-file-audio-o text-warning"></i>'
                },
                previewFileExtSettings: { // configure the logic for determining icon file extensions
                    'doc': function (ext) {
                        return ext.match(/(doc|docx)$/i);
                    },
                    'xls': function (ext) {
                        return ext.match(/(xls|xlsx)$/i);
                    },
                    'ppt': function (ext) {
                        return ext.match(/(ppt|pptx)$/i);
                    },
                    'zip': function (ext) {
                        return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                    },
                    'htm': function (ext) {
                        return ext.match(/(htm|html)$/i);
                    },
                    'mov': function (ext) {
                        return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv|mpeg|rmvb)$/i);
                    },
                    'mp3': function (ext) {
                        return ext.match(/(mp3|wav)$/i);
                    },
                    'txt': function (ext) {
                        return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                    }
                },
                previewSettings: {
                    image: {width: 'auto', height: 'auto', 'max-width': '100%', 'max-height': '100%'},
                    html: {width: '100%', height: 'auto'},
                    text: {width: '100%', height: 'auto'},
                    office: {width: '100%', height: 'auto'},
                    gdocs: {width: '100%', height: 'auto'},
                    video: {width: '100%', height: 'auto'},
                    audio: {width: '100%', height: 'auto'},
                    flash: {width: '100%', height: 'auto'},
                    object: {width: '100%', height: 'auto'},
                    pdf: {width: '100%', height: 'auto'},
                    other: {width: '100%', height: 'auto'}
                },
                previewSettingsSmall: {
                    image: {width: 'auto', height: 'auto', 'max-width': '100%', 'max-height': '100%'},
                    html: {width: '100%', height: 'auto'},
                    text: {width: '100%', height: 'auto'},
                    office: {width: '100%', height: 'auto'},
                    gdocs: {width: '100%', height: 'auto'},
                    video: {width: '100%', height: 'auto'},
                    audio: {width: '100%', height: 'auto'},
                    flash: {width: '100%', height: 'auto'},
                    object: {width: '100%', height: 'auto'},
                    pdf: {width: '100%', height: 'auto'},
                    other: {width: '100%', height: 'auto'}
                },
                //是否显示拖拽区域
                dropZoneEnabled: false,
                'theme': 'explorer-fas',
                overwriteInitial: false,
                initialPreviewFileType: ['image'],
                previewFileType: ['image'],//预览文件类型
                initialPreviewAsData: true,
                enctype: 'multipart/form-data',
                uploadUrl: prefix + "/upload/" + batchId,
            });
        }

        var inputs = $('input[name=checked]');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].setAttribute('id', idArr[i])
            // inputs[i].setAttribute('url', 'abc.txt')
        }
        // 选择文件的回调函数
        $("#fileInput").on("filebatchselected", function (event, files) {
            $(this).fileinput("upload");
        }).on("fileuploaded", function (event, data, previewId, index) {
            if (data.response.code == 0) {
                $('#' + previewId).find("button").attr('data-key', data.response.data[0]);
                var fileType = data.files[0].name.substring(data.files[0].name.lastIndexOf(".") + 1);
                $('#' + previewId).find("button").attr('data-url', fileType);
                layer.msg("文件上传成功，请点击右上角关闭按钮进行下一步操作!", {icon: 1, offset: 'auto', time: 2000});
            }
            if (data.response.code == 500) {
                // $('#' + previewId).remove();
                // $('#' + previewId).next().remove();
                // layer.msg("文件错误，请刷新后重新上传！",{ icon: 2, offset: 'r', time:2000 });
                pupopTip('280px', '100px', "文件错误，请刷新后重新上传！", '37px')
            }
        }).on("fileuploaderror", function (event, data, previewId, index) {
            if (data) {
                var errorNmae = data.fileId;
                pupopTip('250px', '100px', "文件" + errorNmae + "超过大小限制或格式有误，请刷新后重新上传！", '37px')
                // layer.msg("文件"+ errorNmae +"超过20兆大小限制或格式有误，请刷新后重新上传！",{ icon: 2, offset: 'r', time:2000 });
                // $("#"+ data.id).hide()
            }
        })
    });

    //  扫描
    var batchId = [[${batchId}]];
    $('#myScan').on('click', function () {
        var prefix = ctx + "archCollection/amsRecord";
        var url = prefix + "/toScan/" + batchId;
        $.modal.parentTab("影像扫描", url);
    })
    $("#fileinput0").on("click", function () {
        $("#fileInput").click();
    });

    // 下载
    function downloadZip() {
        var checkedId = [];
        checkedStr = '';
        var input_checked = $('input[name=checked]:checked');
        for (var i = 0; i < input_checked.length; i++) {
            checkedId.push($('input[name=checked]:checked:eq(' + i + ')').parent().next()[0].dataset.key)
            // console.log($('input[name=checked]:checked:eq('+i+')').parent().next()[0].dataset.key)
        }
        checkedStr = checkedId.join(',');

        if (input_checked.length == 0) {
            $.modal.alertError("请选择要下载的文件");
            return;
        }
        window.location.href = prefix + "/downloadFilesGet?fileIds=" + checkedStr + "&fileSum=" + input_checked.length;
    }

    // 错误消息提示框
    function pupopTip(pupW, pupH, pupText, pupClose, pupCloseH, btnText) {
        var popup = $('<div  class="pupopBox" style="display:none;position: fixed;top:0;left: 0;width: 100%;height: 100%;background-color:rgba(0,0,0,0.6); "><div  class="pupopContent" style="position:absolute;top:20%;right:3%;width:' + pupW + ';height: ' + pupH + ';background-color: #fff;border-radius: 10px;padding: 20px">' +
            '<div style="font-size: 14px;">' + pupText + ' </div>' +
            '</div></div>');
        $("body").append(popup);
        if (btnText) {
            $('.pupopContent').append($('<a style="display:; background-color:rgba(0,0,0,0.9);border-radius: 5px;margin-top:10px;padding:5px 20px;color: #fff; text-decoration: none;font-size: 14px; " id="pup_btn" href="javascript:;">' + btnText + '</a>'));
        }
        $('.pupopBox').fadeIn();
        $('.pupopBox').fadeOut(5000)
    }

    <!--删除文件-->
    function deleteFiles(e) {
        var deleteFileId = e[0].dataset.key;
        var previewId = e.parent().parent().parent().parent().attr('id')
        var fileType = e.attr("fileUrl").substring(e.attr("fileUrl").lastIndexOf(".") + 1);
        if (confirm("确定删除该文件吗？")) {
            $.ajax({
                type: "get",
                async: false,
                dataType: "json",
                url: prefix + "/deleteFile/" + deleteFileId,
                success: function (result) {
                    // 删除成功后刷新文件列表
                    if (result.code == 0) {
                        $('#' + previewId + '+.kv-zoom-cache').remove();
                        $('#' + previewId).remove();
                    }
                },
                error: function (result) {
                    if (result.code == '500' || result.code == 500) {
                        $.modal.alert(result.msg);
                        // pupopTip('280px','100px',result.msg,'37px')
                    }
                }
            });
        }
    }

    <!--下载文件-->
    function downloadFile(e) {
        var downLoadFileId = e[0].dataset.key;
        window.location.href = prefix + "/downloadFileGet?fileId=" + downLoadFileId;
    }

    // 服务器地址
    var serverAddress = [[${serverAddress}]];

    // 在线阅览
    function openFile(e) {
        var fileId = e[0].dataset.key;

        $.ajax({
            type: "post",
            async: false,
            url: prefix + "/getFileImageById",
            data: {
                id: fileId
            },
            success: function (result) {
                var fileType = null;
                var photoUrl = null;
                if (result.data) {
                    var imageServerUrl = result.data.imageServerUrl;
                    var fileServerUrl = result.data.fileServerUrl;
                    var filesType = result.data.fileType;
                    var ocrType = result.data.ocrType;

                    if (imageServerUrl != null && imageServerUrl != undefined) {
                        photoUrl = imageServerUrl;
                    } else {
                        photoUrl = fileServerUrl;
                    }

                    if (filesType != null && filesType != undefined) {
                        fileType = filesType;
                    } else {
                        fileType = ocrType;
                    }
                }

                // 文件类型转小写
                fileType = fileType.toLowerCase();
                // 根据后缀判断文件类型
                if (fileType == "doc" || fileType == "docx" || fileType == "xls" || fileType == "xlsx" || fileType == "txt" || fileType == "pdf") {
                    <!--验证文档是否加密，禁止IE浏览器缓存-->
                    $.ajaxSetup({cache: false});
                    $.get(ctx + "pdf/ams/fileView/fileCheckEncryption/" + fileImageId, function (data) {
                        if (data.code == 0) {
                            if (fileType == "pdf") {
                                window.open(serverAddress + "/pdf/ams/fileView/openPdfView?id=" + fileImageId)
                            } else if (fileType == "txt") {
                                window.open(serverAddress + "/pdf/ams/fileView/openTextView?id=" + fileImageId);
                            } else if (fileType == "doc" || fileType == "docx") {
                                window.open(serverAddress + "/pdf/ams/fileView/openWordView?id=" + fileImageId)
                            } else if (fileType == "xlsx" || fileType == "xls") {
                                window.open(serverAddress + "/pdf/ams/fileView/openExcelView?id=" + fileImageId);
                            }
                            return;
                        } else {
                            $.modal.alertWarning(data.msg)
                        }
                    });
                }

                if (fileType == "rar" || fileType == "zip" || fileType == "tif") {
                    $.modal.alertWarning("不支持在线预览，请下载后查看");
                    return;
                }

                if (fileType == "jpg" || fileType == "png" || fileType == "bmp" || fileType == "gif") {
                    // $.modal.openTab("音视频播放", prefix + "/toVideo/?fileId=" + fileId)
                    $("#photos").show()
                    $("#media").hide()
                    $("#photos").attr("src", photoUrl)
                    $("#videoButton").click();
                    return;
                }

                if (fileType == "mp3" || fileType == "mp4" || fileType == "avi" || fileType == "mpeg" || fileType == "rmvb") {
                    $("#photos").hide()
                    $("#media").show()
                    $("#v1").attr("src", photoUrl)
                    $("#videoButton").click();
                    $("#media").load()
                    return;
                } else {
                    $.modal.alertWarning("不支持在线预览，请下载后查看");
                    return;
                }

            },
            error: function () {
                $.modal.alertError("无法预览，请稍后重试");
            }
        })
    }

    //全选
    $('#selectAll').on('click', function () {
        if (!$(this).attr('checked')) {
            $(this).attr('checked', true);
            $('.selectAllTxt').text('取消全选');
            $("input[name='checked']:checkbox").prop("checked", true);
        } else {
            $(this).attr('checked', false);
            $('.selectAllTxt').text('全选');
            $("input[name='checked']:checkbox").prop("checked", false);
        }
    })

    function closeVideo() {
        $('#media').get(0).pause();
    }
</script>
<!-- 文件上传 -->
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: bootstrap-select-js"/>
</body>
</html>
