<style>
    select {
        border: 1px solid #ddd;
        border-radius: 4px;
        background: transparent;
        outline: none;
        height: 30px;
        width: 200px;
    }

    .form-group {
        text-align: center;
    }
</style>
<div class="form-group">
    <!--    <input type="hidden" id="borId">-->
    <label class=" control-label">续存时长：</label>
    <select id="stayTime" name="valPeriod" class="form-control">
        <option selected="selected" value="10">10年</option>
        <option value="30">30年</option>
        <option value="99">永久</option>
    </select>
    <div class="form-group" id="tapDiv"></div>
</div>
