<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iacmp.biz.common.dao.mapper.ams.ImTemplateBlockDefMapper">

    <resultMap type="ImTemplateBlockDef" id="ImTemplateBlockDefResult">
        <result property="id" column="ID"/>
        <result property="code" column="CODE"/>
        <result property="name" column="NAME"/>
        <result property="templateId" column="TEMPLATE_ID"/>
        <result property="pYSZM" column="PYSZM"/>
        <result property="btdefId" column="btdef_id"/>
    </resultMap>

    <sql id="selectImTemplateBlockDefVo">
        select ID, CODE, NAME, TEMPLATE_ID, PYSZM, btdef_id from im_template_block_def
    </sql>

    <select id="selectImTemplateBlockDefList" parameterType="ImTemplateBlockDef" resultMap="ImTemplateBlockDefResult">
        <include refid="selectImTemplateBlockDefVo"/>
        <where>
            <if test="id != null  and id != '' ">and ID = #{id}</if>
            <if test="code != null  and code != '' ">and CODE = #{code}</if>
            <if test="name != null  and name != '' ">and NAME = #{name}</if>
            <if test="templateId != null  and templateId != '' ">and TEMPLATE_ID = #{templateId}</if>
            <if test="pYSZM != null  and pYSZM != '' ">and PYSZM = #{pYSZM}</if>
            <if test="btdefId != null ">and btdef_id = #{btdefId}</if>
        </where>
    </select>

    <select id="selectImTemplateBlockDefById" parameterType="String" resultMap="ImTemplateBlockDefResult">
        <include refid="selectImTemplateBlockDefVo"/>
        where ID = #{id}
    </select>

    <insert id="insertImTemplateBlockDef" parameterType="ImTemplateBlockDef">
        insert into im_template_block_def
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">ID,</if>
            <if test="code != null  and code != ''  ">CODE,</if>
            <if test="name != null  and name != ''  ">NAME,</if>
            <if test="templateId != null  and templateId != ''  ">TEMPLATE_ID,</if>
            <if test="pYSZM != null  and pYSZM != ''  ">PYSZM,</if>
            <if test="btdefId != null  ">btdef_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">#{id},</if>
            <if test="code != null  and code != ''  ">#{code},</if>
            <if test="name != null  and name != ''  ">#{name},</if>
            <if test="templateId != null  and templateId != ''  ">#{templateId},</if>
            <if test="pYSZM != null  and pYSZM != ''  ">#{pYSZM},</if>
            <if test="btdefId != null  ">#{btdefId},</if>
        </trim>
    </insert>

    <update id="updateImTemplateBlockDef" parameterType="ImTemplateBlockDef">
        update im_template_block_def
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null  and code != ''  ">CODE = #{code},</if>
            <if test="name != null  and name != ''  ">NAME = #{name},</if>
            <if test="templateId != null  and templateId != ''  ">TEMPLATE_ID = #{templateId},</if>
            <if test="pYSZM != null  and pYSZM != ''  ">PYSZM = #{pYSZM},</if>
            <if test="btdefId != null  ">btdef_id = #{btdefId},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteImTemplateBlockDefById" parameterType="String">
        delete from im_template_block_def where ID = #{id}
    </delete>

    <delete id="deleteImTemplateBlockDefByIds" parameterType="String">
        delete from im_template_block_def where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>