<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iacmp.biz.common.dao.mapper.ams.SmSecretMapper">

    <resultMap type="SmSecret" id="SmSecretResult">
        <result property="secretId" column="SECRET_ID"/>
        <result property="id" column="ID"/>
        <result property="arcBill" column="ARC_BILL"/>
        <result property="arcBillCode" column="ARC_BILL_CODE"/>
        <result property="arcBillDept" column="ARC_BILL_DEPT"/>
        <result property="arcBillDeptCode" column="ARC_BILL_DEPT_CODE"/>
    </resultMap>

    <sql id="selectSmSecretVo">
        select ID, ARC_BILL, ARC_BILL_CODE, ARC_BILL_DEPT, ARC_BILL_DEPT_CODE from sm_secret
    </sql>

    <select id="selectSmSecretList" parameterType="SmSecret" resultMap="SmSecretResult">
        <include refid="selectSmSecretVo"/>
        <where>
            <if test="id != null  and id != '' ">and ID = #{id}</if>
            <if test="arcBill != null  and arcBill != '' ">and ARC_BILL = #{arcBill}</if>
            <if test="arcBillCode != null  and arcBillCode != '' ">and ARC_BILL_CODE = #{arcBillCode}</if>
            <if test="arcBillDept != null  and arcBillDept != '' ">and ARC_BILL_DEPT = #{arcBillDept}</if>
            <if test="arcBillDeptCode != null  and arcBillDeptCode != '' ">and ARC_BILL_DEPT_CODE = #{arcBillDeptCode}
            </if>
        </where>
        order by ARC_BILL_DEPT_CODE
    </select>

    <select id="selectSmSecretById" parameterType="String" resultMap="SmSecretResult">
        <include refid="selectSmSecretVo"/>
        where ID = #{id}
    </select>

    <insert id="insertSmSecret" parameterType="SmSecret">
        insert into sm_secret
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">ID,</if>
            <if test="arcBill != null  and arcBill != ''  ">ARC_BILL,</if>
            <if test="arcBillCode != null  and arcBillCode != ''  ">ARC_BILL_CODE,</if>
            <if test="arcBillDept != null  and arcBillDept != ''  ">ARC_BILL_DEPT,</if>
            <if test="arcBillDeptCode != null  and arcBillDeptCode != ''  ">ARC_BILL_DEPT_CODE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">#{id},</if>
            <if test="arcBill != null  and arcBill != ''  ">#{arcBill},</if>
            <if test="arcBillCode != null  and arcBillCode != ''  ">#{arcBillCode},</if>
            <if test="arcBillDept != null  and arcBillDept != ''  ">#{arcBillDept},</if>
            <if test="arcBillDeptCode != null  and arcBillDeptCode != ''  ">#{arcBillDeptCode},</if>
        </trim>
    </insert>

    <update id="updateSmSecret" parameterType="SmSecret">
        update sm_secret
        <trim prefix="SET" suffixOverrides=",">
            <if test="arcBill != null  and arcBill != ''  ">ARC_BILL = #{arcBill},</if>
            <if test="arcBillCode != null  and arcBillCode != ''  ">ARC_BILL_CODE = #{arcBillCode},</if>
            <if test="arcBillDept != null  and arcBillDept != ''  ">ARC_BILL_DEPT = #{arcBillDept},</if>
            <if test="arcBillDeptCode != null  and arcBillDeptCode != ''  ">ARC_BILL_DEPT_CODE = #{arcBillDeptCode},
            </if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteSmSecretById" parameterType="String">
        delete from sm_secret where ID = #{id}
    </delete>

    <delete id="deleteSmSecretByIds" parameterType="String">
        delete from sm_secret where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>