<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增档案')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-amsArcReg-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">档案名称：</label>
            <div class="col-sm-8">
                <input id="name" name="name" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">档案数量：</label>
            <div class="col-sm-8">
                <input id="regPageNum" name="regPageNum" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">登记人代码：</label>
            <div class="col-sm-8">
                <input id="regOpId" name="regOpId" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">登记人名称：</label>
            <div class="col-sm-8">
                <input id="regOpName" name="regOpName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">登记人机构代码：</label>
            <div class="col-sm-8">
                <input id="regOrgCode" name="regOrgCode" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">登记人机构名称：</label>
            <div class="col-sm-8">
                <input id="regOrgName" name="regOrgName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">登记时间：</label>
            <div class="col-sm-8">
                <input id="regTime" name="regTime" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">登记备注：</label>
            <div class="col-sm-8">
                <input id="regRemark" name="regRemark" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">接收档案数量：</label>
            <div class="col-sm-8">
                <input id="recNum" name="recNum" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">接收人代码：</label>
            <div class="col-sm-8">
                <input id="recOpId" name="recOpId" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">接收人名称：</label>
            <div class="col-sm-8">
                <input id="recOpName" name="recOpName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">接收人机构代码：</label>
            <div class="col-sm-8">
                <input id="recOrgCode" name="recOrgCode" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">接收人机构名称：</label>
            <div class="col-sm-8">
                <input id="recOrgName" name="recOrgName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">接收时间：</label>
            <div class="col-sm-8">
                <input id="recTime" name="recTime" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">接收备注：</label>
            <div class="col-sm-8">
                <input id="recRemark" name="recRemark" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态(10-已保存;20-已提交;30-已接收;40-已退回)：</label>
            <div class="col-sm-8">
                <input id="status" name="status" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">修改者姓名：</label>
            <div class="col-sm-8">
                <input id="modifier" name="modifier" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">修改时间：</label>
            <div class="col-sm-8">
                <input id="modTime" name="modTime" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">登记份数：</label>
            <div class="col-sm-8">
                <input id="regArcNum" name="regArcNum" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">登记页数：</label>
            <div class="col-sm-8">
                <input id="recPageNum" name="recPageNum" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">档案重复标志：</label>
            <div class="col-sm-8">
                <input id="repeatMark" name="repeatMark" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "archCollection/amsArcReg"
    $("#form-amsArcReg-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-amsArcReg-add').serialize());
        }
    }
</script>
</body>
</html>
