<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改档案')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-amsArcReg-edit" th:object="${amsArcReg}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <h4 class="form-header h4">基本信息</h4>

        <!--<div class="form-group">-->
        <!--<a class="btn btn-success" style="float: right;margin-right: 80px" onclick="submitHandler()">-->
        <!--提交-->
        <!--</a>-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>档案名称：</label>
            <div class="col-sm-8">
                <input id="name" name="name" th:field="*{name}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">登记人名称：</label>
            <div class="col-sm-8">
                <input id="regOpName" name="regOpName" th:field="*{regOpName}" class="form-control" type="text"
                       readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">登记时间：</label>
            <div class="col-sm-8">
                <input id="regTime" name="regTime" th:value="${#dates.format(amsArcReg.regTime,'yyyy-MM-dd HH:mm:ss')}"
                       class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">修改时间：</label>
            <div class="col-sm-8">
                <input id="modTime" name="modTime" th:value="${#dates.format(amsArcReg.modTime,'yyyy-MM-dd HH:mm:ss')}"
                       class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>登记份数：</label>
            <div class="col-sm-8">
                <input id="regArcNum" name="regArcNum" th:field="*{regArcNum}" required class="form-control" type="text"
                       maxlength="9"
                       oninput="value=value.replace(/[^\d]/g,'')"
                       onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'');if(this.value.substring(0,1)=='0'){this.value=this.value.replace(this.value,'')}}"
                       onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>登记页数：</label>
            <div class="col-sm-8">
                <input id="recPageNum" name="recPageNum" th:field="*{recPageNum}" required class="form-control"
                       type="text" maxlength="9"
                       oninput="value=value.replace(/[^\d]/g,'')"
                       onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'');if(this.value.substring(0,1)=='0'){this.value=this.value.replace(this.value,'')}}"
                       onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">文件编号：</label>
            <div class="col-sm-8">
                <input id="arcCode" name="arcCode" th:field="*{arcCode}" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">登记备注：</label>
            <div class="col-sm-8">
                <input id="regRemark" name="regRemark" th:field="*{regRemark}" placeholder="请输入200字以内"
                       th:maxlength="200" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<!--<div class="row">-->
<!--<div class="col-sm-offset-5 col-sm-10" style="margin-top: 30px">-->
<!--<button type="button" class="btn btn-sm btn-primary" onclick="submitReceive()"><i class="fa fa-check"></i>确 定</button>&nbsp;-->
<!--<button type="button" class="btn btn-sm btn-danger" onclick="closeThis()"><i class="fa fa-reply-all"></i>关 闭</button>-->
<!--</div>-->
<!--</div>-->
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "archCollection/amsArcReg";

    $("#form-amsArcReg-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $("#form-amsArcReg-edit").serialize());
        }
    }

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    function submitReceive() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $("#form-amsArcReg-edit").serialize());
            closeThis()
        }
    }

    function closeThis() {
        $.modal.closeTab();
    }
</script>
</body>
</html>
