\Project\Tu-ling-study\.idea\libraries\*.*
\Project\Tu-ling-study\target\classes\*.*
*.class
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Project/SpringAll-master/01.Start-Spring-Boot/.idea/$CACHE_FILE$
/Project/SpringAll-master/01.Start-Spring-Boot/.idea/$PRODUCT_WORKSPACE_FILE$
/Project/SpringAll-master/01.Start-Spring-Boot/.idea/.gitignore
/Project/SpringAll-master/01.Start-Spring-Boot/.idea/.name
/Project/SpringAll-master/01.Start-Spring-Boot/.idea/compiler.xml
/Project/SpringAll-master/01.Start-Spring-Boot/.idea/encodings.xml
/Project/SpringAll-master/01.Start-Spring-Boot/.idea/misc.xml
/Project/SpringAll-master/01.Start-Spring-Boot/.idea/uiDesigner.xml
/Project/SpringAll-master/01.Start-Spring-Boot/.idea/vcs.xml
/Project/SpringAll-master/01.Start-Spring-Boot/target/classes/application.properties
/Project/Tu-ling-study/.idea/$CACHE_FILE$
/Project/Tu-ling-study/.idea/$PRODUCT_WORKSPACE_FILE$
/Project/Tu-ling-study/.idea/.name
/Project/Tu-ling-study/.idea/artifacts/Tu_ling_study_war.xml
/Project/Tu-ling-study/.idea/artifacts/Tu_ling_study_war_exploded.xml
/Project/Tu-ling-study/.idea/compiler.xml
/Project/Tu-ling-study/.idea/encodings.xml
/Project/Tu-ling-study/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_11.xml
/Project/Tu-ling-study/.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_11.xml
/Project/Tu-ling-study/.idea/libraries/Maven__com_fasterxml_classmate_1_3_4.xml
/Project/Tu-ling-study/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_0.xml
/Project/Tu-ling-study/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_10.xml
/Project/Tu-ling-study/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_10.xml
/Project/Tu-ling-study/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_2_0.xml
/Project/Tu-ling-study/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/Project/Tu-ling-study/.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
/Project/Tu-ling-study/.idea/libraries/Maven__junit_junit_4_12.xml
/Project/Tu-ling-study/.idea/libraries/Maven__net_minidev_accessors_smart_1_1.xml
/Project/Tu-ling-study/.idea/libraries/Maven__net_minidev_json_smart_2_2_1.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_8_5_23.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_8_5_23.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_23.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_apache_tomcat_tomcat_annotations_api_8_5_23.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_assertj_assertj_core_2_6_0.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_hibernate_hibernate_validator_5_3_6_Final.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_1_Final.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_mockito_mockito_core_1_10_19.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_ow2_asm_asm_5_0_3.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_4_0.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_25.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_slf4j_log4j_over_slf4j_1_7_25.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_boot_spring_boot_1_5_9_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_1_5_9_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_1_5_9_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_1_5_9_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_1_5_9_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_1_5_9_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_1_5_9_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_1_5_9_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_1_5_9_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_spring_aop_4_3_13_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_spring_beans_4_3_13_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_spring_context_4_3_13_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_spring_core_4_3_13_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_spring_expression_4_3_13_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_spring_test_4_3_13_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_spring_web_4_3_13_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_13_RELEASE.xml
/Project/Tu-ling-study/.idea/libraries/Maven__org_yaml_snakeyaml_1_17.xml
/Project/Tu-ling-study/.idea/misc.xml
/Project/Tu-ling-study/.idea/modules.xml
/Project/Tu-ling-study/.idea/vcs.xml
/Project/Tu-ling-study/.idea/workspace.xml
/Project/Tu-ling-study/HELP.md
/Project/Tu-ling-study/target/classes/application.properties
/Project/Tu-ling-study/target/classes/META-INF/mybatis.kotlin_module
/Project/Tu-ling-study/target/classes/mybatis/mybatis-config.xml
/Project/Tu-ling-study/target/classes/mybatis/UserMapper.xml
/Project/Tu-ling-study/target/classes/user.sql
/Project/Tu-ling-study/Tu-ling-study.iml
