<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入vue -->
    <script src="../../plugins/vue.min.js"></script>
    <!-- 引入jquery -->
    <script src="../../plugins/jquery.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet"
          href="../../plugins/element-ui/theme-default/index.css">
    <!--引入组件库-->
    <script src="../../plugins/element-ui/index.js"></script>
    <title>万象新天一区-某某管理系统</title>
</head>
<style>
    html, body, iframe {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0
    }

    #wrap {
        width: 100%;
        height: 100%;
    }

    iframe {
        border: none;
    }

    .el-header {
        padding: 0 20px;
        box-sizing: border-box;
        background: #20a0ff;
    }

    .el-icon-cms-accessory {
        font-family: "Microsoft YaHei" !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff;
        font-size: 29px;
        display: inline;
        margin-left: 60px;
        margin-top: 12px;
    }

    .fontS {

    }
</style>

<body>
<div id="rrapp">
    <el-container>
        <el-aside class="app-side app-side-left"
                  :class="isCollapse ? 'app-side-collapsed' : 'app-side-expanded'"
                  style="width: 300px;background: #20a0ff">
            <div class="app-side-logo">
                <div>
                    <img src="../../img/IronmanMIII.png"
                         :width="isCollapse ? '56' : '56'"
                    />
                </div>
                <!--<i class="el-icon-cms-accessory">万象新天-微人事</i>-->
            </div>

            <div>
                <el-tree :data="treeList"
                         :props="defaultProps"
                         default-expand-all="true"
                         @node-click="handleNodeClick"
                         node-key="nodeId"
                         show-checkbox=true>
                </el-tree>
            </div>
        </el-aside>

        <el-container>
            <el-header class="app-header">
                <!--<div style="width: 60px; cursor: pointer;"
                     @click.prevent="toggleSideBar">
                    <i v-show="!isCollapse" class="el-icon-d-arrow-left"></i>
                    <i v-show="isCollapse" class="el-icon-d-arrow-right"></i>
                </div>-->
                <!-- 我是样例菜单 -->
                <!--<el-menu default-active="1"
                         class="el-menu-demo tab-page"
                         mode="horizontal"
                         @select="handleSelect"
                         active-text-color="#409EFF">
                    <el-menu-item index="1">处理中心</el-menu-item>
                    <el-submenu index="2">
                        <template slot="title">我的工作台</template>
                        <el-menu-item index="2-1">选项1</el-menu-item>
                        <el-menu-item index="2-2">选项2</el-menu-item>
                        <el-menu-item index="2-3">选项3</el-menu-item>
                        <el-submenu index="2-4">
                            <template slot="title">选项4</template>
                            <el-menu-item index="2-4-1">选项1</el-menu-item>
                            <el-menu-item index="2-4-2">选项2</el-menu-item>
                            <el-menu-item index="2-4-3">选项3</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-menu-item index="3"
                                  disabled>消息中心</el-menu-item>
                    <el-menu-item index="4">
                        <a href="#">订单管理</a>
                    </el-menu-item>
                </el-menu>-->
            </el-header>

            <el-main class="app-body">

                <el-tabs v-model="editableTabsValue2" type="card" closable @tab-remove="removeTab">
                    <el-tab-pane
                            v-for="(item, index) in editableTabs2"
                            :key="item.name"
                            :label="item.title"
                            :name="item.name"
                    >
                        <!--{{item.content}}-->
                        <!--<link rel="import" href="top.html" id="page1"/>-->
                        <div id="wrap">
                            <iframe :src="importSrc" height="100%" width="100%" scrolling="yes">
                            </iframe>
                        </div>
                    </el-tab-pane>
                </el-tabs>
                <template>
                    <router-view/>
                </template>
            </el-main>
        </el-container>
    </el-container>

</div>

</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#rrapp',
        data() {
            return {
                username: '',
                isCollapse: false,
                activeName: 'second',
                activeIndex: '1',
                activeIndex2: '1',
                editableTabsValue2: '',
                importSrc: '',
                editableTabs2: [{
                    title: '首页',
                    name: '1',
                    content: '../menu/test'
                }],
                tabIndex: 2,
                treeList: [],
                defaultProps: {
                    children: 'childList',
                    label: 'name'
                }
            }
        },
        created: function () {
            this.getTreeList();

        },
        methods: {
            getTreeList() {
                var _this = this;
                $.ajax({
                    url: '/menu/getTree',
                    type: 'post',
                    async: false,
                    data: {},
                    datatype: "json",
                    success: function (data) {
                        _this.treeList = data;
                    }
                })
            },
            handleNodeClick(tab, event) {
                /* tab 获取选中的子节点信息*/
                /*获取点击子节点名称*/
                var tabNameByNode = tab.name;
                if (tab.childList == null) {
                    var hashCode = 0;
                    let newTabIndex = ++this.tabIndex + '';
                    for (x in this.editableTabs2) {
                        //lert(this.editableTabs2[x].title);
                        //alert(tabNameByNode);
                        if (this.editableTabs2[x].title == tabNameByNode) {
                            /!*选中下标相同的tab 页面*!/
                            this.editableTabsValue2 = this.editableTabs2[x].name;
                            this.importSrc = tab.data.url;
                            return;
                        }
                        if (this.editableTabs2[x].title != tabNameByNode) {
                            hashCode = 1;
                        }
                    }
                    if (hashCode == 1) {
                        /!*新增tab页下标*!/
                        this.editableTabs2.push({
                            title: tabNameByNode,
                            name: newTabIndex
                        });
                        /!*选中下标相同的tab 页面*!/
                        this.editableTabsValue2 = newTabIndex;
                    }
                }
                this.importSrc = tab.data.url;
            },
            removeTab(targetName) {
                let tabs = this.editableTabs2;
                let activeName = this.editableTabsValue2;
                if (activeName === targetName) {
                    tabs.forEach((tab, index) => {
                        if (tab.name === targetName) {
                        let nextTab = tabs[index + 1] || tabs[index - 1];
                        if (nextTab) {
                            activeName = nextTab.name;
                        }
                    }
                });
                }

                this.editableTabsValue2 = activeName;
                this.editableTabs2 = tabs.filter(tab => tab.name !== targetName);
            },
            add: function () {
                vm.showlist = false;
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            }
        }
    });
</script>
</html>