<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('移库')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="btn-group-sm" id="move" role="group">
        <!--shiro:hasPermission="archManage:moveCab:moveCab"-->
        <a class="btn btn-success" onclick="moveCab()">
            <i class="fa fa-plus"></i> 移库
        </a>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-batch-move">
            <input id="arcIds" th:value="${arcIds}" type="hidden">
            <input id="cabCode" name="cabCode" type="hidden">
            <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label">盒号：</label>-->
            <!--<div class="col-sm-8">-->
            <!--<input id="code" name="code" th:field="*{code}" class="form-control" type="text" readonly="readonly">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label">盒名称：</label>-->
            <!--<div class="col-sm-8">-->
            <!--<input id="name" name="name" th:field="*{name}" class="form-control" type="text" readonly="readonly">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label">所属年份：</label>-->
            <!--<div class="col-sm-8">-->
            <!--<input id="boxYear" name="boxYear" th:field="*{boxYear}" class="form-control" type="text" readonly="readonly">-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">所属库房：</label>
                <div class="col-sm-8">
                    <input id="depName" name="depName" class="form-control" type="text"
                           onclick="selectDepot('depName');depName.blur();return false;" placeholder="请选择库房" required>
                    <input id="depId" name="depId" type="hidden"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">所属库柜：</label>
                <!--<div class="col-sm-8">-->
                <!--<input id="depName" name="depName" th:field="*{depName}" class="form-control" type="text" readonly="readonly">-->
                <!--</div>-->
                <div class="col-sm-8">
                    <!--<select id="cabList" class="form-control col-sm-6" onchange="selectCabinet()" required>-->
                    <!--</select>-->
                    <input type="text" class="form-control col-sm-6" id="cabName" name="cabName"
                           onclick="selectCabinet('cabName');cabName.blur();return false;" placeholder="请选择库柜"
                           required/>
                    <input id="cabId" name="" type="hidden">
                </div>
            </div>
        </form>
    </div>

</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "archManage/moveMatterCab";

    //选择库房
    function selectDepot(id) {
        var options = {
            title: '选择库柜',
            /* width: width,
             height: height,*/
            id: id,
            url: prefix + "/selectDepot",
            btn: ['确定', '关闭'],
            shadeClose: true,
            yes: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                $('#' + id).val(body.find('#thisRowName').val());
                $('#depId').val(body.find('#thisRowId').val());
                layer.close(index);
            },
            cancel: function (index) {
                return true;
            }
        };
        $.modal.openOptions(options);
    }

    // 选择库柜
    function selectCabinet(id) {
        var depId = $("#depId").val();
        if (depId == '') {
            $.modal.alertWarning("请先选择要移动的库房");
            return;
        }
        var options = {
            title: '选择库柜',
            /* width: width,
             height: height,*/
            id: id,
            url: prefix + "/selectCabinet/" + depId,
            btn: ['确定', '关闭'],
            shadeClose: true,
            yes: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                var newCabId = body.find('#thisRowId').val();
                // var oldCabId = $('#oldCabId').val();
                // if(newCabId == oldCabId){
                //     $.modal.alertWarning("所选库柜并未改变,请选择其他库柜");
                //     return;
                // }
                $('#' + id).val(body.find('#thisRowName').val());
                $('#cabId').val(body.find('#thisRowId').val());
                layer.close(index);
            },
            cancel: function (index) {
                return true;
            }
        };
        $.modal.openOptions(options);
    }

    //TODO 实物类型档案移库
    function moveCab() {
        var cabName = $("#cabName").val();
        // var depName = getDepName();
        var cabId = $("#cabId").val();
        if ($.common.isEmpty(cabId)) {
            $.modal.alertWarning("请先确认选择要移动的库房/库柜");
            return;
        }
        var url = prefix + "/moveToMatterCab?cabId=" + cabId;
        var data = $('#arcIds').val();
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: {"arcIds": data},
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                console.log(" result’s code=" + result.code);
                if (result.code == "0") {
                    $.modal.msgSuccess("实物类型档案移库成功");
                }

                setTimeout(function () {
                    $.modal.closeTab();
                }, 1000);
            }
        };
        $.ajax(config)
    }

</script>
</body>
</html>