<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('选择库柜')"/>
    <style>
        .bootstrap-table .table tr {
            cursor: pointer;
        }

        .table-hover > tbody > tr:hover,
        .bootstrap-table .table tr:hover {
            background-color: #e5e5e5 !important;
        }
    </style>
</head>

<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="depot-form">
                <!--<input type="hidden" id="depId" name="depId" th:value="${depId}">-->
                <input id="thisRowName" name="thisRowName" type="hidden"/>
                <input id="thisRowId" name="thisRowId" type="hidden"/>
                <div class="select-list">
                    <ul class="clearfix">
                        <!--							<li>-->
                        <!--								登录名称：<input type="text" name="loginName"/>-->
                        <!--							</li>-->
                        <!--							<li>-->
                        <!--								手机号码：<input type="text" name="phonenumber"/>-->
                        <!--							</li>-->
                        <li>
                            库房代码：<input type="text" name="code"/>
                        </li>
                        <li>
                            库房名称：<input type="text" name="name"/>
                        </li>
                        <li>
                            所属部门：<input type="text" id="orgName" name="orgName" onclick="selectDeptTree();"/>
                            <input type='hidden' id="orgNo" name="orgNo">
                        </li>
                    </ul>
                    <div class="mt10">
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                class="fa fa-search"></i>&nbsp;搜索</a>
                        <a class="btn btn-warning btn-rounded btn-sm" onclick="formReset('depot-form')"><i
                                class="fa fa-refresh"></i>&nbsp;重置</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    // var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "param/amsDepot";
    // var depId = $("#depId").val();
    $(function () {
        var options = {
            url: prefix + '/list',
            queryParams: queryParams,
            modalName: "选择库房",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            clickToSelect: true,
            rememberSelected: true,
            onClickRow: onClickRow,
            columns: [
                {
                    field: 'id',
                    title: '序号',
                    visible: false
                },
                {
                    field: 'code',
                    title: '库房代码',
                    sortable: true
                },
                {
                    field: 'name',
                    title: '库房名称',
                    sortable: true
                },
                {
                    field: 'orgName',
                    title: '所属部门',
                    sortable: true
                }]
        };
        $.table.init(options);
    });

    function queryParams(params) {
        // var search = $.table.queryParams(params);
        // search.depId = $("#depId").val();
        // return search;
    }

    function onClickRow(row, $element) {
        var id = window.location.href.split('=')[1];
        var thisRowName = row.name;
        var thisRowId = row.id;
        $("#thisRowName").val(thisRowName);
        $("#thisRowId").val(thisRowId);
        $element.siblings().css('background', 'transparent')
        $element.css('background', '#e5e5e5');
    }

    function selectDeptTree() {
        var url = ctx + "borrow/amsCollection/deptTree";
        var options = {
            title: '选择部门',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        var body = layer.getChildFrame('body', index);
        $("#orgNo").val(body.find('#treeId').val());
        $("#orgName").val(body.find('#treeName').val());
        layer.close(index);
    }

    //重置form
    function formReset(formId) {
        var currentId = $.common.isEmpty(formId) ? $('form').attr('id') : formId;
        $("#" + currentId)[0].reset();
        //清空
        $("#orgNo").val('');
        $.btTable.bootstrapTable('refresh');
    }
</script>
</body>
</html>