<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('档案详情')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-amsBill-edit" th:object="${amsArchives}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-2 control-label">档案名称：</label>
            <div class="col-sm-4">
                <input id="name" name="name" th:field="*{name}" class="form-control" type="text" readonly="readonly">
            </div>

            <label class="col-sm-2 control-label">所属部门：</label>
            <div class="col-sm-4">
                <input id="opDepName" name="opDepName" th:field="*{opDepName}" class="form-control" type="text"
                       readonly="readonly">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">著录编号：</label>
            <div class="col-sm-4">
                <input id="batchNo" name="batchNo" th:field="*{batchNo}" class="form-control" type="text"
                       readonly="readonly">
            </div>

            <label class="col-sm-2 control-label">档案类型：</label>
            <div class="col-sm-4">
                <input id="arcBillName" name="arcBillName" th:field="*{arcBillName}" class="form-control" type="text"
                       readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">载体形式：</label>
            <div class="col-sm-4">
                <input id="carrier" name="carrier" th:field="*{carrier}" class="form-control" type="text"
                       readonly="readonly">
            </div>

            <!-- arcCopyright -->
            <label class="col-sm-2 control-label">版权：</label>
            <div class="col-sm-4">
                <input id="arcCopyright" name="" class="form-control" type="text" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">二级类目：</label>
            <div class="col-sm-4">
                <input id="arcBillDept" name="arcBillDept" th:field="*{arcBillDept}" class="form-control" type="text"
                       readonly="readonly">
            </div>

            <!--arcLayout-->
            <label class="col-sm-2 control-label">格式：</label>
            <div class="col-sm-4">
                <input id="arcLayout" name="" class="form-control" type="text" readonly="readonly">
            </div>
        </div>

        <!--crtTime-->
        <div class="form-group">
            <label class="col-sm-2 control-label">创建时间：</label>
            <div class="col-sm-4">
                <input id="crtTime" name="" class="form-control" type="text" readonly="readonly">
            </div>

            <label class="col-sm-2 control-label">形成日期：</label>
            <div class="col-sm-4">
                <input id="orgName" name="arcCreTime" th:field="*{arcCreTime}" class="form-control" type="text"
                       readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">状态：</label>
            <div class="col-sm-4">
                <input id="status" name="status" th:field="*{status}" class="form-control" type="text"
                       readonly="readonly">
            </div>

            <!--crtName-->
            <label class="col-sm-2 control-label">创建人名称：</label>
            <div class="col-sm-4">
                <input id="crtName" name="" class="form-control" type="text" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">密级：</label>
            <div class="col-sm-4">
                <input id="arcLevel" name="arcLevel" th:field="*{arcLevel}" class="form-control" type="text"
                       readonly="readonly">
            </div>

            <label class="col-sm-2 control-label">保管期限：</label>
            <div class="col-sm-4">
                <input id="valPeriod" name="valPeriod" th:field="*{valPeriod}" class="form-control" type="text"
                       readonly="readonly">
            </div>
        </div>

        <!--keyWord-->
        <div class="form-group">
            <label class="col-sm-2 control-label">关键字：</label>
            <div class="col-sm-4">
                <input id="keyWord" name="" class="form-control" type="text" readonly="readonly">
            </div>

            <label class="col-sm-2 control-label">语种：</label>
            <div class="col-sm-4">
                <input id="language" name="" class="form-control" type="text" readonly="readonly">
            </div>
        </div>

        <!--isNoMedium-->
        <div class="form-group">
            <label class="col-sm-2 control-label">有无介质：</label>
            <div class="col-sm-4">
                <input id="isNoMedium" name="" class="form-control" type="text" readonly="readonly">
            </div>

            <label class="col-sm-2 control-label">归档日期：</label>
            <div class="col-sm-4">
                <input id="filingTime" name="filingTime" th:field="*{filingTime}" class="form-control" type="text"
                       readonly="readonly">
            </div>
        </div>

        <!--duration-->
        <div class="form-group">
            <label class="col-sm-2 control-label">时长：</label>
            <div class="col-sm-4">
                <input id="duration" name="" class="form-control" type="text" readonly="readonly">
            </div>

            <!--photographer-->
            <label class="col-sm-2 control-label">摄录人员：</label>
            <div class="col-sm-4">
                <input id="photographer" name="" class="form-control" type="text" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">是否涉及费用：</label>
            <div class="col-sm-4">
                <input id="expenseInvolve" name="expenseInvolve" th:field="*{expenseInvolve}" class="form-control"
                       type="text" readonly="readonly">
            </div>

            <label class="col-sm-2 control-label">来源：</label>
            <div class="col-sm-4">
                <input id="originMode" name="originMode" th:field="*{originMode}" class="form-control" type="text"
                       readonly="readonly">
            </div>
        </div>

        <!--caption-->
        <div class="form-group">
            <label class="col-sm-2 control-label">文字说明：</label>
            <div class="col-sm-4">
                <input id="caption" name="" class="form-control" type="text" readonly="readonly">
            </div>

            <label class="col-sm-2 control-label">分类：</label>
            <div class="col-sm-4">
                <input id="bill" name="bill" th:field="*{bill}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>

        <!--inputLabel-->
        <div class="form-group">
            <label class="col-sm-2 control-label">描述：</label>
            <div class="col-sm-4">
                <input id="inputLabel" name="" class="form-control" type="text" readonly="readonly">
            </div>

            <label class="col-sm-2 control-label">档案号：</label>
            <div class="col-sm-4">
                <input id="arcNo" name="arcNo" th:field="*{arcNo}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">文件编号：</label>
            <div class="col-sm-4">
                <input id="fileNo" name="fileNo" th:field="*{fileNo}" class="form-control" type="text"
                       readonly="readonly">
            </div>

            <label class="col-sm-2 control-label">存放地点：</label>
            <div class="col-sm-4">
                <input id="storageLocation" name="storageLocation" th:field="*{storageLocation}" class="form-control"
                       type="text" readonly="readonly">
            </div>
        </div>

        <!--receivingOpinion-->
        <div class="form-group">
            <label class="col-sm-2 control-label">接收意见：</label>
            <div class="col-sm-4">
                <input id="receivingOpinion" name="" class="form-control" type="text" readonly="readonly">
            </div>

            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">所属部门：</label>-->
            <!--<div class="col-sm-4">-->
            <!--<input id="orgName" name="orgName" th:field="*{orgName}" class="form-control" type="text" readonly="readonly">-->
            <!--</div>-->
        </div>

    </form>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">

</script>
</body>
</html>
