<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入vue -->
    <script src="../../plugins/vue.min.js"></script>
    <!-- 引入jquery -->
    <script src="../../plugins/jquery.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet"
          href="../../js/css/base.css">
    <link rel="stylesheet"
          href="../../js/css/reset.css">
    <link rel="stylesheet" type="text/css"
          href="../../js/css/main.css">
    <!--引入组件库-->
    <script src="../../plugins/element-ui/index.js"></script>
    <title>Title</title>
</head>
<body>
<div class="wrapper" :style="{width:wrapperW}" id="app1" v-clozk>
    <div class="header clear">
        <div class="float-left">
            <div class="imglogo">
                <img th:src="../../img/IronmanMIII.png" alt="这是个logo图片,使用alt参数弹出这句话">
            </div>
            <div class="logo">
                <h1 class="logo-title" style="margin-top: 5px;font-family: 'Microsoft YaHei'">
                    德玛西亚万岁
                </h1>
            </div>
            <ul class="nav" id="nav">
                <li v-for="item in accessedMenus.children" :id="'it_' + item.menuObj.menuCode" @click="getMenuList(item)">
                        <a style="padding-top: 12px">{{item.menuObj.menuName}}}</a>
                </li>
            </ul>
        </div>
        <div class="welcome-tip-wp float-rigth" v-if="clientW>1024">
            <div></div>
        </div>
    </div>
    
    
</div>


<div id="rrapp">
    <div style="margin-bottom: 20px;">
        <el-button
                size="small"
                @click="sss(editableTabsValue2)"
        >
            add tab
        </el-button>
    </div>
    <el-tabs v-model="editableTabsValue2" type="card" closable @tab-remove="removeTab">
        <el-tab-pane
                v-for="(item, index) in editableTabs2"
                :key="item.name"
                :label="item.title"
                :name="item.name"
        >
            {{item.content}}
        </el-tab-pane>
    </el-tabs>
    <iframe SRC="../menu/test">
        <iframe SRC="../menu/test"></iframe>

    </iframe>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#rrapp',
        data() {
            return {
                editableTabsValue2: '1',
                editableTabs2: [{
                    title: 'Tab 1',
                    name: '1',
                    content: 'Tab 1 content'
                }, {
                    title: 'Tab 2',
                    name: '2',
                    content: 'Tab 2 content'
                }],
                tabIndex: 2
            }
        },
        methods: {
            sss(targetName) {
                let newTabName = ++this.tabIndex + '';
                this.editableTabs2.push({
                    title: 'New Tab',
                    name: newTabName,
                    content: 'New Tab content'
                });
                this.editableTabsValue2 = newTabName;
            },
            removeTab(targetName) {
                let tabs = this.editableTabs2;
                let activeName = this.editableTabsValue2;
                if (activeName === targetName) {
                    tabs.forEach((tab, index) = > {
                        if(tab.name === targetName
                )
                    {
                        let nextTab = tabs[index + 1] || tabs[index - 1];
                        if (nextTab) {
                            activeName = nextTab.name;
                        }
                    }
                })
                    ;
                }

                this.editableTabsValue2 = activeName;
                this.editableTabs2 = tabs.filter(tab = > tab.name !== targetName
            )
                ;
            }
        }
    });

</script>
</body>
</html>