<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改库柜')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-amsCabinet-edit" th:object="${amsCabinet}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">库柜编码：</label>
            <div class="col-sm-8">
                <input id="code" name="code" th:field="*{code}" class="form-control" type="text" required
                       placeholder="请输入32字以内" th:maxlength="32">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">库柜名称：</label>
            <div class="col-sm-8">
                <input id="name" name="name" th:field="*{name}" class="form-control" type="text" required
                       placeholder="请输入32字以内" th:maxlength="32">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">库柜责任人：</label>
            <div class="col-sm-8">
                <input id="dutyMan" name="dutyMan" th:field="*{dutyMan}" class="form-control" type="text" required
                       maxlength="30" onclick="selectUser('dutyMan');dutyMan.blur();return false;">
            </div>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">库房名称：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<input id="depId" name="depId" th:field="*{depId}" class="form-control" type="text">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">	-->
        <!--<label class="col-sm-3 control-label">库房编码：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<input id="depCode" name="depCode" th:field="*{depCode}" class="form-control" type="text">-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">所属库房：</label>
            <div class="col-sm-8">
                <!--<input id="depName" name="depName" th:field="*{depName}" class="form-control" type="text" required>-->

                <select id="depotList" class="form-control col-sm-6" onchange="selectDepot()" required>
                </select>
                <!--hidden-->
                <input type="hidden" id="depId" name="depId" th:field="*{depId}"/>
                <input type="hidden" id="depCode" name="depCode" th:field="*{depCode}"/>
                <input type="hidden" id="depName" name="depName" th:field="*{depName}"/>
            </div>
        </div>
        <!--<div class="form-group">	-->
        <!--<label class="col-sm-3 control-label">库房类型：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<input id="depType" name="depType" th:field="*{depType}" class="form-control" type="text">-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">库柜状态：</label>
            <div class="col-sm-8">
                <!--<input id="status" name="status" th:field="*{status}" class="form-control" type="text" required>-->
                <select class='selectpicker submitInput form-control'
                        name="status" th:with="type=${@dict.getType('cabinet_status')}" th:field="*{status}" required>
                    <option value="">请选择</option>
                    <option th:selected="*{status}" th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <!--<div class="form-group">	-->
        <!--<label class="col-sm-3 control-label">档案类型：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<input id="arcType" name="arcType" th:field="*{arcType}" class="form-control" type="text">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">	-->
        <!--<label class="col-sm-3 control-label">库房状态：</label>-->
        <!--<div class="col-sm-8">-->
        <!--<input id="depStatus" name="depStatus" th:field="*{depStatus}" class="form-control" type="text">-->
        <!--</div>-->
        <!--</div>-->
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "param/amsCabinet";
    $(function () {
        depotList();
    });

    $("#form-amsCabinet-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-amsCabinet-edit').serialize());
        }
    }

    //加载所属库房
    function depotList() {
        var prefix = ctx + "param/amsDepot";
        var depotHtml = "";
        $.ajax({
            method: 'post',
            url: prefix + '/depotList/param/edit',
            success: function (message) {
                //console.log(" message is " + message)
                $("#depotList").empty();
                // depotHtml = depotHtml
                // 		+ '<optgroup id="'+ billedId +'" label="'+ name +'">';
                var depId = "";
                var showName = "";
                var depCode = "";
                $.each(message.depotList, function (i, item) {
                    depId = item.id;
                    showName = item.name;
                    depCode = item.code;

                    depotHtml = depotHtml
                        + '<option id="' + item.id + '" value="' + item.code + '" label="' + showName + '">';

                });

                depotHtml = '<option value="" label="请选择"></option>' + depotHtml;

                $("#depotList").append(depotHtml);
            },
            error: function () {
                alert("出现异常");
            }, complete: function () {
                var depotSelections = $("#depotList");
                var checkValue = $("#depCode").val();
                // for (var i=0; i < depotSelections.length; i++){
                // 	if (depotSelections.options[i].value == checkValue){
                // 		depotSelections.options[i].selected = true;
                // 		break;
                // 	}
                // }
                $("#depotList option").each(function () {
                    var optionVal = $(this).val();
                    if (optionVal == checkValue) {
                        $(this).attr('selected', 'selected');
                        //break;
                    }
                })
            }
        });
    }

    function selectDepot() {
        var depName = $("#depotList").find("option:selected").attr("label"); //获取文本值
        var depCode = $("#depotList").find("option:selected").val();  //获取value值
        var depId = $("#depotList").find("option:selected").attr("id");  //获取id值

        if (depId !== null) {
            $("#depId").val(depId);
        }
        if (depName !== null) {
            $("#depName").val(depName);
        }
        if (depCode !== null) {
            $("#depCode").val(depCode);
        }
    }

    /* 选择责任者 */
    function selectUser(id) {
        var options = {
            title: '选择用户',
            /* width: width,
             height: height,*/
            id: id,
            url: ctx + "system/user/selectUser?id=" + id,
            btn: ['确定', '关闭'],
            shadeClose: true,
            yes: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                $('#' + id).val(body.find('#thisRowName').val());
                layer.close(index);
            },
            cancel: function (index) {
                return true;
            }
        };
        $.modal.openOptions(options);
    }

</script>
</body>
</html>
