<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入vue -->
    <script src="../../plugins/vue.min.js"></script>
    <!-- 引入jquery -->
    <script src="../../plugins/jquery.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet"
          href="../../plugins/element-ui/theme-default/index.css">
    <!--引入组件库-->
    <script src="../../plugins/element-ui/index.js"></script>
    <title>EL-Tree-lazy </title>
</head>
<body>
<div id="rrapp">
    <div>
        elementui element-ui懒加载
        <el-tree
                :data="data"
                :props="props"
                :load="loadNode"
                lazy
                show-checkbox>
        </el-tree>
        <el-button
                @click.native.prevent="testJson()"
                type="text"
                size="small">
            获取数据
        </el-button>
        <el-button
                @click.native.prevent="testDateInterval()"
                type="text"
                size="small">
            测试时间区间
        </el-button>


    </div>

</div>
</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#rrapp',
        data() {
            return {
                data: [],
                props: {
                    children: 'childList',
                    label: 'name',
                    isLeaf: 'leaf'
                }
            }
        },
        created: function () {
            //this.getTreeList();

        },
        methods: {

            famat1(date) {
                var y = date.getFullYear();
                var m = date.getMonth() + 1;
                m = m < 10 ? ('0' + m) : m;
                var d = date.getDate();
                d = d < 10 ? ('0' + d) : d;
                var h = date.getHours();
                var minute = date.getMinutes();
                minute = minute < 10 ? ('0' + minute) : minute;
                var second = date.getSeconds();
                second = minute < 10 ? ('0' + second) : second;
                return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
            },
            testDateInterval() {
                var startDate = [new Date('2019-10-10'), new Date('2019-10-20'), new Date('2019-10-25')];
                var endDate = [new Date('2019-10-15'), new Date('2019-10-20'), new Date('2019-10-29')];

                var minStartDate = new Date(Math.min.apply(null, startDate));

                var maxEndDate = new Date(Math.max.apply(null, endDate));

                var sDate = '2019-10-16';
                var eDate = '2019-10-30';

                //alert(new Date(sDate).getTime());
                //alert(minStartDate);
                // alert(new Date(eDate).getTime());

                //alert(maxEndDate);
                //alert(new Date(sDate) < minStartDate);
                //alert(new Date(eDate) > maxEndDate);

                var code = 0;
                for (var i = 0; i <= startDate.length; i++) {
                    if ((new Date(sDate).getTime() <= endDate[i].getTime() && new Date(sDate).getTime() >= startDate[i].getTime()) || (new Date(eDate).getTime() >= startDate[i].getTime() && new Date(eDate).getTime() <= endDate[i].getTime())) {
                        code = 1;
                        break;
                    }
                    if (new Date(sDate).getTime() <= minStartDate.getTime() && new Date(eDate).getTime() >= maxEndDate.getTime()) {
                        code = 1;
                        break;
                    }

                    /*if(sDate<=endDate[i] && eDate <= endDate[i]){
                        code = 1;
                        break;
                    }*/
                }
                if (code === 1) {
                    alert('已经存在于时间区间中');
                } else {
                    alert("不存在于时间区间");
                }

            },
            testJson() {
                $.ajax({
                    url: '/menu/getJson',
                    type: 'post',
                    async: 'false',
                    datatype: 'JSON',
                    success: function (data) {
                        /*for (var key in json) {
                            console.log(key);     //获取key值
                            console.log(json[key]); //获取对应的value值
                        }*/
                        console.info(data);
                        console.info(JSON.parse(data));

                        alert(data["dataItemTaskList"]);
                        console.log(JSON.stringify(data).dataItemTaskList);

                    }
                })
            },
            loadNode(node, resolve) {
                console.info(node);
                if (node.level === 0) {
                    //return resolve([{ name: 'region' }]);
                    var _this = this;
                    $.ajax({
                        url: '/menu/getTreeParent',
                        type: 'post',
                        async: false,
                        data: {},
                        datatype: "JSON",
                        success: function (data) {
                            resolve(data);
                        }
                    })
                }
                if (node.level >= 1) {
                    setTimeout(() => {
                        const data = [{}];
                        $.ajax({
                            url: '/menu/getTreeChild?id=' + node.data.id,
                            type: 'post',
                            async: false,
                            data: {},
                            datatype: "JSON",
                            success: function (data) {
                                //console.info(data);
                                resolve(data);
                            }
                        })
                        //resolve(data);
                    }, 500);
                }

                setTimeout(() => {
                    const data = [{}];
                    $.ajax({
                        url: '/menu/getTreeChild?id=' + node.data.id,
                        type: 'post',
                        async: false,
                        data: {},
                        datatype: "JSON",
                        success: function (data) {
                            //console.info(data);
                            resolve(data);
                        }
                    })
                    //resolve(data);
                }, 500);
            }
        }

    });
</script>
</html>