<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改档案子类型')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-amsBill-edit" th:object="${amsBill}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">档案类型编码：</label>
            <div class="col-sm-8">
                <input id="code" name="code" th:field="*{code}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">档案类型名称：</label>
            <div class="col-sm-8">
                <input id="name" name="name" th:field="*{name}" placeholder="请输入64字以内" th:maxlength="64"
                       class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">所属档案类型编码：</label>
            <div class="col-sm-8">
                <input id="parentId" name="parentId" th:field="*{parentId}"
                       class="form-control" type="text" readonly="readonly">
                <input id="parentName" name="parentName" th:value="${pname}" type="hidden"/>
            </div>
        </div>

        <!--<input type="button" class="btn btn-success" onclick="submitHandler()" value="提交">-->
    </form>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "param/amsBill/child";
    $("#form-amsBill-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            // $.operate.save(prefix + "/edit", $('#form-amsBill-edit').serialize());
            var url = prefix + "/edit";
            var data = $('#form-amsBill-edit').serialize();
            var pid = $("#parentId").val();
            var pname = $("#parentName").val();

            $.ajax({
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                success: function (result) {
                    window.parent.location.reload();
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index)
                }
            });
        }
    }
</script>
</body>
</html>
