<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iacmp.biz.common.dao.mapper.cms.CmsModelBillMapper">

    <resultMap type="CmsModelBill" id="CmsModelBillResult">
        <result property="modelId" column="MODEL_ID"/>
        <result property="billId" column="BILL_ID"/>
        <result property="fileNum" column="FILE_NUM"/>
        <result property="id" column="ID"/>
    </resultMap>

    <!--根据模板编号查询该模板下所有分类-->
    <resultMap type="CmsBill" id="CmsBillResult">
        <result property="id" column="ID"/>
        <result property="billName" column="BILL_NAME"/>
        <result property="billCode" column="BILL_CODE"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="billOrder" column="BILL_ORDER"/>
        <result property="leaf" column="LEAF"/>
        <result property="allPath" column="ALL_PATH"/>
        <result property="status" column="STATUS"/>
        <result property="fileNum" column="FILE_NUM"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="display" column="DISPLAY"/>
        <result property="manualUpload" column="MANUAL_UPLOAD"/>
    </resultMap>

    <select id="selectCmsBillsByCmsModelId" resultMap="CmsBillResult" parameterType="int">
        SELECT b.ID, b.BILL_NAME, b.BILL_CODE, b.PARENT_ID, b.BILL_ORDER, b.LEAF, b.ALL_PATH, b.STATUS,c.FILE_NUM FROM
        cms_bill b
        LEFT JOIN cms_model_bill c ON c.bill_id = b.id WHERE c.model_id = #{id}
    </select>

    <select id="selectBillListByCmsModelId" resultMap="CmsBillResult">
        SELECT b.ID, b.BILL_NAME, b.BILL_CODE, b.PARENT_ID, b.BILL_ORDER, b.LEAF, b.ALL_PATH,
        c.STATUS,b.DISPLAY,c.FILE_NUM,b.MANUAL_UPLOAD
        FROM cms_bill b
        LEFT JOIN cms_model_bill c ON c.BILL_ID = b.ID
        LEFT JOIN cms_role_bill r ON b.ID = r.BILL_ID
        <where>
            c.MODEL_ID = #{modelId}
            <if test="dataRoleIds != null and dataRoleIds.size()>0 ">AND r.ROLE_ID IN
                <foreach item="item" collection="dataRoleIds" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectAllBillByCmsModelId" resultMap="CmsBillResult">
        SELECT b.ID, b.BILL_NAME, b.BILL_CODE, b.PARENT_ID, b.BILL_ORDER, b.LEAF, b.ALL_PATH,
        c.STATUS,b.DISPLAY,c.FILE_NUM,b.MANUAL_UPLOAD
        FROM cms_bill b LEFT JOIN cms_model_bill c ON c.bill_id = b.id WHERE c.model_id = #{modelId}
    </select>

    <select id="selectCmsModelBillByCmsModelId" resultMap="CmsModelBillResult" parameterType="int">
        <include refid="selectCmsModelBillVo"/>
        where model_id = #{modelId}
    </select>

    <!--根据分类类型编号查询该分类所属于的所有模板-->
    <resultMap type="CmsModel" id="CmsModelResult">
        <result property="id" column="ID"/>
        <result property="modelName" column="MODEL_NAME"/>
        <result property="modelCode" column="MODEL_CODE"/>
        <result property="deptId" column="DEPT_ID"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="remark" column="REMARK"/>
    </resultMap>

    <select id="selectCmsModelsByCmsBillId" resultMap="CmsModelResult" parameterType="integer">
        select m.ID, m.MODEL_NAME, m.MODEL_CODE, m.DEPT_ID, m.REMARK from cms_model m
        left join cms_model_bill c where c.model_id = m.id and c.bill_id = #{billId}
    </select>

    <sql id="selectCmsModelBillVo">
        select MODEL_ID, BILL_ID, FILE_NUM, ID from cms_model_bill
    </sql>

    <select id="selectCmsModelBillList" parameterType="CmsModelBill" resultMap="CmsModelBillResult">
        <include refid="selectCmsModelBillVo"/>
        <where>
            <if test="modelId != null ">and MODEL_ID = #{modelId}</if>
            <if test="billId != null ">and BILL_ID = #{billId}</if>
            <if test="fileNum != null ">and FILE_NUM = #{fileNum}</if>
            <if test="id != null ">and ID = #{id}</if>
        </where>
    </select>

    <select id="selectCmsModelBillById" parameterType="Integer" resultMap="CmsModelBillResult">
        <include refid="selectCmsModelBillVo"/>
        where MODEL_ID = #{modelId}
    </select>
    <select id="selectCountModelBillByBillId" parameterType="long" resultType="java.lang.Integer">
        select count(*) from cms_model_bill where status = '1' and bill_id = #{billId};
    </select>

    <insert id="insertCmsModelBill" parameterType="CmsModelBill">
        insert into cms_model_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelId != null  ">MODEL_ID,</if>
            <if test="billId != null  ">BILL_ID,</if>
            <if test="fileNum != null  ">FILE_NUM,</if>
            <if test="id != null  ">ID,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelId != null  ">#{modelId},</if>
            <if test="billId != null  ">#{billId},</if>
            <if test="fileNum != null  ">#{fileNum},</if>
            <if test="id != null  ">#{id},</if>
        </trim>
    </insert>

    <update id="updateCmsModelBill" parameterType="CmsModelBill">
        update cms_model_bill
        <trim prefix="SET" suffixOverrides=",">
            <if test="billId != null  ">BILL_ID = #{billId},</if>
            <if test="fileNum != null  ">FILE_NUM = #{fileNum},</if>
            <if test="id != null  ">ID = #{id},</if>
        </trim>
        where MODEL_ID = #{modelId}
    </update>

    <delete id="deleteCmsModelBillById" parameterType="Integer">
        delete from cms_model_bill where MODEL_ID = #{modelId}
    </delete>

    <delete id="deleteCmsModelBillByIds" parameterType="String">
        delete from cms_model_bill where MODEL_ID in
        <foreach item="modelId" collection="array" open="(" separator="," close=")">
            #{modelId}
        </foreach>
    </delete>

    <insert id="batchModelBill">
        insert into cms_model_bill(model_id,bill_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.modelId},#{item.billId})
        </foreach>
    </insert>

    <delete id="deleteCmsModelBillByModelId" parameterType="Long">
        delete from cms_model_bill where model_id = #{modelId}
    </delete>
    <delete id="deleteCmsModelBillByModelIds" parameterType="Long">
        delete from cms_model_bill where model_id in
        <foreach collection="array" item="modelId" open="(" separator="," close=")">
            #{modelId}
        </foreach>
    </delete>

</mapper>