<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iacmp.biz.common.dao.mapper.cms.CmsReqMappingMapper">

    <resultMap type="CmsReqMapping" id="CmsReqMappingResult">
        <result property="id" column="ID"/>
        <result property="sysCode" column="SYS_CODE"/>
        <result property="localPath" column="LOCAL_PATH"/>
        <result property="remotePath" column="REMOTE_PATH"/>
        <result property="processName" column="PROCESS_NAME"/>
        <result property="proParamName" column="PRO_PARAM_NAME"/>
        <result property="proParamValue" column="PRO_PARAM_VALUE"/>
        <result property="nodeName" column="NODE_NAME"/>
        <result property="nodeParamName" column="NODE_PARAM_NAME"/>
        <result property="nodeParamValue" column="NODE_PARAM_VALUE"/>
        <result property="status" column="STATUS"/>
        <result property="remark" column="REMARK"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <sql id="selectCmsReqMappingVo">
        select ID, SYS_CODE, LOCAL_PATH, REMOTE_PATH, PROCESS_NAME, PRO_PARAM_NAME, PRO_PARAM_VALUE, NODE_NAME,
        NODE_PARAM_NAME, NODE_PARAM_VALUE, STATUS, REMARK, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME from
        cms_req_mapping
    </sql>

    <select id="selectCmsReqMappingList" parameterType="CmsReqMapping" resultMap="CmsReqMappingResult">
        <include refid="selectCmsReqMappingVo"/>
        <where>
            <if test="id != null ">and ID = #{id}</if>
            <if test="sysCode != null  and sysCode != '' ">and SYS_CODE like CONCAT('%',#{sysCode},'%')</if>
            <if test="localPath != null  and localPath != '' ">and LOCAL_PATH like CONCAT('%',#{localPath},'%')</if>
            <if test="remotePath != null  and remotePath != '' ">and REMOTE_PATH like CONCAT('%',#{remotePath},'%')</if>
            <if test="processName != null  and processName != '' ">and PROCESS_NAME = #{processName}</if>
            <if test="proParamName != null  and proParamName != '' ">and PRO_PARAM_NAME = #{proParamName}</if>
            <if test="proParamValue != null  and proParamValue != '' ">and PRO_PARAM_VALUE = #{proParamValue}</if>
            <if test="nodeName != null  and nodeName != '' ">and NODE_NAME = #{nodeName}</if>
            <if test="nodeParamName != null  and nodeParamName != '' ">and NODE_PARAM_NAME = #{nodeParamName}</if>
            <if test="nodeParamValue != null  and nodeParamValue != '' ">and NODE_PARAM_VALUE = #{nodeParamValue}</if>
            <if test="status != null  and status != '' ">and STATUS = #{status}</if>
            <if test="remark != null  and remark != '' ">and REMARK = #{remark}</if>
            <if test="createBy != null  and createBy != '' ">and CREATE_BY = #{createBy}</if>
            <if test="createTime != null ">and CREATE_TIME = #{createTime}</if>
            <if test="updateBy != null  and updateBy != '' ">and UPDATE_BY = #{updateBy}</if>
            <if test="updateTime != null ">and UPDATE_TIME = #{updateTime}</if>
        </where>
    </select>

    <select id="selectCmsReqMappingById" parameterType="Long" resultMap="CmsReqMappingResult">
        <include refid="selectCmsReqMappingVo"/>
        where ID = #{id}
    </select>

    <insert id="insertCmsReqMapping" parameterType="CmsReqMapping" useGeneratedKeys="true" keyProperty="id">
        insert into cms_req_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysCode != null  and sysCode != ''  ">SYS_CODE,</if>
            <if test="localPath != null  and localPath != ''  ">LOCAL_PATH,</if>
            <if test="remotePath != null  and remotePath != ''  ">REMOTE_PATH,</if>
            <if test="processName != null  and processName != ''  ">PROCESS_NAME,</if>
            <if test="proParamName != null  and proParamName != ''  ">PRO_PARAM_NAME,</if>
            <if test="proParamValue != null  and proParamValue != ''  ">PRO_PARAM_VALUE,</if>
            <if test="nodeName != null  and nodeName != ''  ">NODE_NAME,</if>
            <if test="nodeParamName != null  and nodeParamName != ''  ">NODE_PARAM_NAME,</if>
            <if test="nodeParamValue != null  and nodeParamValue != ''  ">NODE_PARAM_VALUE,</if>
            <if test="status != null  and status != ''  ">STATUS,</if>
            <if test="remark != null  and remark != ''  ">REMARK,</if>
            <if test="createBy != null  and createBy != ''  ">CREATE_BY,</if>
            <if test="createTime != null  ">CREATE_TIME,</if>
            <if test="updateBy != null  and updateBy != ''  ">UPDATE_BY,</if>
            <if test="updateTime != null  ">UPDATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sysCode != null  and sysCode != ''  ">#{sysCode},</if>
            <if test="localPath != null  and localPath != ''  ">#{localPath},</if>
            <if test="remotePath != null  and remotePath != ''  ">#{remotePath},</if>
            <if test="processName != null  and processName != ''  ">#{processName},</if>
            <if test="proParamName != null  and proParamName != ''  ">#{proParamName},</if>
            <if test="proParamValue != null  and proParamValue != ''  ">#{proParamValue},</if>
            <if test="nodeName != null  and nodeName != ''  ">#{nodeName},</if>
            <if test="nodeParamName != null  and nodeParamName != ''  ">#{nodeParamName},</if>
            <if test="nodeParamValue != null  and nodeParamValue != ''  ">#{nodeParamValue},</if>
            <if test="status != null  and status != ''  ">#{status},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
            <if test="updateTime != null  ">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCmsReqMapping" parameterType="CmsReqMapping">
        update cms_req_mapping
        <trim prefix="SET" suffixOverrides=",">
            <if test="sysCode != null  and sysCode != ''  ">SYS_CODE = #{sysCode},</if>
            <if test="localPath != null  and localPath != ''  ">LOCAL_PATH = #{localPath},</if>
            <if test="remotePath != null  and remotePath != ''  ">REMOTE_PATH = #{remotePath},</if>
            <if test="processName != null  and processName != ''  ">PROCESS_NAME = #{processName},</if>
            <if test="proParamName != null  and proParamName != ''  ">PRO_PARAM_NAME = #{proParamName},</if>
            <if test="proParamValue != null  and proParamValue != ''  ">PRO_PARAM_VALUE = #{proParamValue},</if>
            <if test="nodeName != null  and nodeName != ''  ">NODE_NAME = #{nodeName},</if>
            <if test="nodeParamName != null  and nodeParamName != ''  ">NODE_PARAM_NAME = #{nodeParamName},</if>
            <if test="nodeParamValue != null  and nodeParamValue != ''  ">NODE_PARAM_VALUE = #{nodeParamValue},</if>
            <if test="status != null  and status != ''  ">STATUS = #{status},</if>
            <if test="remark != null  and remark != ''  ">REMARK = #{remark},</if>
            <if test="createBy != null  and createBy != ''  ">CREATE_BY = #{createBy},</if>
            <if test="createTime != null  ">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">UPDATE_BY = #{updateBy},</if>
            <if test="updateTime != null  ">UPDATE_TIME = #{updateTime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteCmsReqMappingById" parameterType="Integer">
        delete from cms_req_mapping where ID = #{id}
    </delete>

    <delete id="deleteCmsReqMappingByIds" parameterType="String">
        delete from cms_req_mapping where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>