<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>超级电商后台-权限管理首页</title>
    <meta name="ctx" th:content="${#request.getContextPath()}">
    <!--引入静态资源-->
    <script src="/common/common-js.js" type="application/javascript"></script>
    <script th:inline="javascript">
        var tabMaxCount,list,blank, accessedMenus, manual, roleCode,orgId,ctx,userNamx;
        blank = [[${blank}]];
        list = [[accessedMenus]];
        accessedMenus = [[${accessedMenus}]];
        tabMaxCount = [[${tabMaxCount}]];
        manual = [[${manual}]];
        roleCode = [[${roleCode}]];
        orgId = [[${orgId}]];
        ctx = [[${#request.getContextPath()}]];
        userNamx = null;
    </script>
</head>
<body>

<div id="rrapp">
    <template>
        <div class="header clear">
            <div class="float-left">
                <div class="imglogo">
                    <img th:src="@{/img/resizeApi.png}" alt="统一认证权限支撑系统" >
                </div>
                <div class="logo">
                    <h1 class="logo-title">统一认证权限支撑系统</h1>
                </div>
                <ul class="nav" id="nav">
                   <li v-for="item in accessedMenus.children" :id="'it_' + item.menuObj.menuCode" @click="getMenuList(item)">
                        <a>{{item.menuObj.menuName}}</a>
                   </li>
                </ul>
            </div>
           <!-- <div class="welcome-tip-wp float-rigth" v-if="clientW>1024">
                <div class="welcome-tip">
                    <a class="profilebox">
                        <img id="profileimg" th:src="@{../img/IronmanMIII.png}">
                    </a>
                </div>
                <el-form ref="userLoginForm" :model="userLoginForm" label-width="100px" size="medium">
                    <div class="userInfos">
                        <span>
                            暂未登录<a href="#" target="_top">点击登录</a>
                        </span>
                    </div>
                </el-form>
            </div>-->
            <el-row class="main" ref="main" :style="{height:minaH}">
                <el-col :span="isCollapse?1:4" class="aside" ref="aside" v-if="expandMenu">
                    <div class="sjs-sideMenu" :style="{height:sideMenuH}">
                        <el-menu class="el-menu-vertical-demo" ref="sjsMenu" :uniqun-openeds=true
                                 :collapse="isCollapse" :default-active="itemIndex" :default-openeds="openedMenu"
                                 @select="menuOpen">
                            <el-menu-item index="1">处理中心</el-menu-item>
                            <el-menu-item index="1">用户中心</el-menu-item>
                            <el-menu-item index="1">权限中心</el-menu-item>
                            <el-menu-item index="1">应用中心</el-menu-item>
                            <div v-for="(item,idx) in menuList.children" :key="idx">
                                <el-menu-item v-if="item.chidren.length <= 0" :index ="item.menuObj.menuCode"
                                              @click="getTabList(item)">
                                    <i class="iconfont icon-md-list-box"></i>
                                    <span slot="title">{{item.menuObj.menuName}}</span>
                                </el-menu-item>
                                <el-submenu v-else :index="item.menuObj.menuCode">
                                    <template slot="title">
                                        <i class="iconfont icon-md-folder-open"></i>
                                        <span slot="title">
                                            <a>{{item.menuObj.menuName}}</a>
                                        </span>
                                    </template>
                                    <el-menu-item v-for="(it,i) in item.children" :key="i"
                                                  :index="it.menuObj.menuCode" :tabindex="it.menuObj.menuCode"
                                                  @click="getTabList(it)">
                                        <span slot="title">{{it.menuObj.menuName}}</span>
                                    </el-menu-item>
                                </el-submenu>
                            </div>
                        </el-menu>
                    </div>
                    <div class="collapse-btn">
                        <el-button type="primary" circle size="mini" @click="collapseChange">
                            <i class="el-icon-menu"></i>
                        </el-button>
                    </div>
                </el-col>
                <el-col :span="expandMenu?(isCollapse?23:20):24">
                    <div class="content" :style="{height:contentH}">
                        <el-tabs v-if="expandTab" v-model="defaultTab" type="card" :closable="closable"
                                 @tab-remove="removeTab">
                            <el-tab-pane label="用户管理" name="first">用户管理</el-tab-pane>
                            <el-tab-pane label="配置管理" name="second">配置管理</el-tab-pane>
                            <el-tab-pane label="角色管理" name="third">角色管理</el-tab-pane>
                            <el-tab-pane label="定时任务补偿" name="fourth">定时任务补偿</el-tab-pane>
                            <el-tab-pane v-for="itab in tabList" :key="itab.menuObj.menuCode"
                                         :label="itab.menuObj.menuName" :name="itab.menuObj.menuName">
                                <iframe :id="itab.menuObj.menuCode" :src="ctx+itab.menuObj.url"></iframe>
                            </el-tab-pane>
                        </el-tabs>
                        <div v-else>
                            <iframe :src="url" :style="{height:frameH}"></iframe>
                        </div>
                        <div class="content-footer">
                            <div class="sjs-copyRigth">
                                <span>Copyright @ 统一认证权限支撑系统</span>
                            </div>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
    </template>
</div>
</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#rrapp',
        data() {
            return {
                opendedMenu:[],
                root:{},
                menuList:{},
                tabList:{},
                userLoginForm:{},
                accessedMenus:accessedMenus,
                list:list,
                url:'../power/welcome',
                isCollapse:false,
                isCptrans:true,
                isUnique:true,
                expandMenu:true,
                expandTab:false,
                closable:true,
                clientW:'',
                frameH:'',
                minaH:'',
                contentH:'',
                contentW:'',
                wrapperW:'',
                sideMenuH:'',
                defaultTab:'defaultTab',
                ctx:ctx,
                itemindex:'',
                selectObj:null,
                itemIndex:'',
                openedMenu: '',
            }
        },
        created: function () {
            this.reSize();
            //this.getMenuList(this.list);
            this.closable = false;
        },
        computed:{
          userName:function () {
              
          }  
        },
        mounted:function(){
            this.windowResizeEvent(this.reSize);
            this.userNameSplice();
        },
        methods: {
            userNameSplice(){
                if(userNamex != null){
                    if(userNamx.length == 0 || userNamex == null){
                        $('#loginUserName').text("暂未登录");
                    }
                    if(userNamx.length <= 8 ){
                        $('#loginUserName').text("暂未登录");
                    }
                }
            },
            getCurrentMenuList(list){
                if(list == ''){
                    this.expandMenu = false;
                }else{

                }
                console.log(list);
            },
            collapseChange() {
                if (this.isCollapse == true) {
                    this.isCollapse = false;
                } else {
                    this.isCollapse = true;
                }
            },
            getActiveIndex(list,i) {
                var _this = this;
                if (i >= 3) {
                    if (list.children && list.children.length > 0) {
                        this.select(list.menuObj.menuCode);
                        if (this.selectObj) {
                            this.detaultTab = list.children[eval('this.selectObj.a' + (i + 1))].menuObj.menuName;
                        } else {
                            this.detaultTab = list.children[0].menuObj.menuName;
                        }
                    } else {
                        this.defaultTab = list.menuObj.menuName;
                    }
                    this.openedMenu = [];
                    this.openedMenu.push(list.menuObj.menuCode);
                    this.itemIndex = list.menuObj.menuCode;
                    this.getTabList(list);
                    this.selectObj = null;
                } else {
                    if(list.children && list.children.length >0){
                        this.opendMenu = [];
                        this.opendMenu.push(list.menuObj.menuCode);
                        if(this.selectObj){
                            this.getActiveIndex(list.children[eval('this.selectObj.a' + (i +1 ))],i+1)
                        }else{
                            this.getActiveIndex(list.children[0],i + 1)
                        }
                    }else{
                        if (list.menuObj) {
                            this.expandTab = true;
                            this.openedMenu = [];
                            this.openedMenu.push(list.menuObj.menuCode);
                            this.itemIndex = list.menuObj.menuCode;
                            this.defaultTab = list.menuObj.menuName;
                        } else {
                            var id1 = "it_ " + this.accessedMenus.children[0].menuObj.menuCode;
                            this.url = '#';
                        }
                    }
                }
            },
            getMenuList(list) {
                if (list.children && list.children.length > 0) {
                    this.expandMenu = true;
                    this.menuList = list;
                    this.expandTab = true;
                } else {
                    this.expandMenu = false;
                }
                this.getActiveIndex(list, 1);
                /*显示二级菜单*/

            },
            clickIndex() {
                this.expandMenu = false;
                this.expandTab = false;
                this.closable = false;
                this.defaultTab = 'defaultTab' , this.url = "/ocm/count/index";
            },
            getTabList(list) {
                this.expandTab = true;
                if (list.children && list.children.length > 0) {
                    if (list.menuObj.url.indexOf("target") > 0) {

                    } else {
                        this.tabList = list.children;
                        this.defaultTab = list.children[0].menuObj.menuName;
                        this.closable = true;
                    }
                } else {
                    if (list.menuObj.url.indexOf("target") > 0) {
                    }else{
                        this.tabList = [list];
                        this.defaultTab = list.children[0].menuObj.menuName;
                        this.closable = true;
                    }
                }
            },
            openTo(url, target) {
                if (url.indexOf("http" >= 0)) {
                    window.open(url, target);
                } else {
                    window.open(ctx + url, target);
                }
            },
            menuOpen(key,keyPath) {
                this.selectCode(this.menuList,key);
            },
            selectCode(data, key) {
                if (data.children.length != 0) {
                   /* data.children.forEach(v, i) =>
                    {
                        this.selectCode(v, key);
                    }*/
                } else {
                    if (data.menuObj.menuCode == key) {
                        if (data.menuObj.url.indexOf("target") > 0) {
                            var urltarget = data.menuObj.url;
                            var target = urltarget.substring(urltarget.indexOf("target=") + 7);
                            this.openTo(data.menuObj.url, target);
                        } else {
                            this.defaultTab = data.menuObj.menuName;
                            this.getTabList(data);
                        }
                    } else {

                    }
                }
            },
            windowResizeEvent(callback) {
                let resizeTimer = null;
                //window.onresize;
            },
            reSize() {
                let clientH = document.body.clientHeight;
                let clientW = document.body.clientWidth;
                this.clientW = clientW;
                this.mainH = clientH - 105 + 'px';
                this.frameH = clientH - 135 + 'px';
                this.contentH = clientH - 155 + 'px';
                this.sideMenuH = clientH - 130 + 'px';
                this.$nextTick(() => {
                    if(clientW > 1200) {
                        this.wrapperW = '100%';
                    }else{
                    this.wrapperW = '100%';
                    }
                })
            },
            redirectTo(url) {
                if (self != top) {
                    window.parent.location.href = ctx + url;
                } else {
                    window.location.href = ctx + url;
                }
            },
            exit(url) {
                location.href = "" + ctx + "/logout";
            },
            addTab(tabName, tabUrl) {
                this.$notify.closeAll();
                newTabName = tabName;
                tabs = this.tabList;
                if (tabMaxCount == null) {
                    tabMaxCount = 10;
                }
                if (tabs.length >= tabMaxCount) {
                    this.$notify({
                        title: '警告',
                        message: '打开过多TAB页，请先关闭不使用的TAB页！',
                        type: 'warning',
                        duration: 2500
                    });
                    return false;
                }
                ret = true;
               tabs.forEach((tab, index) => {
                    if(tab.menuObj.menuName === newTabName) {
                        ret = false;
                        this.$notify({
                            title: '警告',
                            message: '不能打开相同的标签页！',
                            type: 'warning',
                            duration: 2500
                        });
                     }
                 })
                if (!ret) {
                    return false;
                }
                this.tabList.push({menuObj : {menucode: newTabName, menuName: newTabName, url: tabUrl,},});
                this.closable = true;
                this.defaultTab = newTabName;
            },
            setTabName(oldTabName,newTabName) {
                tabs = this.tabList;
                //tabs.forEach((tab,index) =>if (tab.menuObj.menuName === oldTabName) {tab.menuObj.menuName = newTabName; } )
            },
            deleteThisTab() {
                tabs = this.tabList;
                activeName = this.defaultTab;
                targetName = activeName;
                tab.forEach((tab, index) => {if(tab.menuObj.menuName === targetName)
                    {
                        nextTab = tabs[index + 1] || tabs[index - 1];
                        if(nextTab) {
                            activeName = nextTab.menuObj.menuName;
                        }
                    }
                })
                this.tabList = tabs.filter(tab => tab.menuObj.menuName !== targetName)
                if (this.tabList.length <= 1) {
                    this.closable = false;
                }
                this.defaultTab = activeName;
            },
            removeTab(targetName) {
                tabs = this.tabList;
                activeName = this.defaultTab;
                if (activeName === targetName) {
                    tabs.forEach((tab, index) => {if(tab.menuObj.menuName === targetName)
                        {
                            nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeName = nextTab.menuObj.menuName;
                            }
                        }
                    })
                }
                this.tabList = tabs.filter(tab => tab.menuObj.menuName !== targetName);
                if (this.tabList.length <= 1) {
                    this.closable = false;
                }
                this.defaultTab = activeName;
            },
            closeTab(redirectName,targetName){
                tabs = this.tabList;
                url = "";
                iframeId = "";
                /*删除指定的tab*/
                this.tabList = tabs,filter(tab => tab.menuObj.menuName !== targetName);
                if(this.tabList.length <= 1){
                    this.closable = false;
                }
                /*跳转到指定的tab并刷新*/
                if (this.tabList.length > 0) {
                    tabs.forEach((tab,index) => {
                        if(tab.menuObj.menuName === redirectName) {
                            iframeId = tab.menuObj.menuCode;
                            url = tab.menuObj.url;
                        }
                    })
                }
                /*激活需要显示的tab*/
                this.defaultTab = redirectName;
                /*刷新tab页面*/
                document.getElementById(iframeId).src = ctx + url;
            },
            toEntityQuery(){
                this.selectObj = null;
                for (var x in this.accessedMenus.children) {
                    if("419cc2928201000" == this.accessedMenus.children[x].menuObj.menuCode){
                        for (var y in this.accessedMenus.children[x].children) {
                            for (var z in this.accessedMenus.children[x].children[y].children) {
                                var obj = this.accessedMenus.children[x].children[y].children[z].menuObj;
                                if (obj.url.indexOf(entityId > -1)) {
                                    this.selectObj = {};
                                    this.selectObj.a1 = x;
                                    this.selectObj.a2 = y;
                                    this.selectObj.a3 = z;
                                }
                            }
                        }
                    }
                }
                if (this.selectObj) {
                    $("#it_419cc2928201000").click();
                }
            },
            getMenuId(){
                var id1 = "it_" + this.accessedMenus.children[0].menuObj.menuCode;
                var id1 = "it_436fa1a1aa0100";
            }
        }
    });
</script>
</html>