<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icbc.super_shopping.system_menu.mapper.SystemMenuMapper">
  <!--<resultMap id="BaseResultMap" type="com.icbc.super_shopping.super_power.entity.UserManage">
    <id column="ROW_ID" jdbcType="VARCHAR" property="rowId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_LOGIN_NUMBER" jdbcType="VARCHAR" property="userLoginNumber" />
    <result column="USER_PASSWORD" jdbcType="VARCHAR" property="userPassword" />
    <result column="USER_STATUS" jdbcType="INTEGER" property="userStatus" />
    <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone" />
    <result column="USER_DEPT_ROW_ID" jdbcType="VARCHAR" property="userDeptRowId" />
    <result column="USER_POSITION_ROW_ID" jdbcType="VARCHAR" property="userPositionRowId" />
    <result column="USER_APP_ROW_ID" jdbcType="VARCHAR" property="userAppRowId" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="MODIFY_USER" jdbcType="VARCHAR" property="modifyUser" />
    <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate" />
  </resultMap>-->

  <!--<sql id="Base_Column_List">
    ROW_ID, USER_NAME, USER_LOGIN_NUMBER, USER_PASSWORD, USER_STATUS, USER_PHONE, USER_DEPT_ROW_ID, 
    USER_POSITION_ROW_ID, USER_APP_ROW_ID, CREATE_USER, CREATE_DATE, MODIFY_USER, MODIFY_DATE
  </sql>-->

  <select id="getAllMenus"  resultType = "com.icbc.super_shopping.entity.MenuInf" >
        SELECT
        m_inf.PK_MENU_INF pkMenuInf,
        m_inf.MENU_CODE menuCode,
        m_inf.MENU_NAME menuName,
        m_inf.PARENT_CODE parentCode,
        m_inf.MENULEVEL menulevel,
        m_inf.MENU_ORDER menuOrder,
        m_inf.MENU_STATUS menuStatus,
        m_inf.URL "url"
        FROM
        SJS_PRM_MENU_INF m_inf
        WHERE 1 = 1
    </select>
  <!-- SU.SU_SJS_PRM_MENU_INF m_inf -->
  <!--  -->
  <select id="getAllMenus2"  resultType = "com.icbc.super_shopping.entity.MenuTree" >
        SELECT
        m_inf.MENU_CODE id,
        m_inf.MENU_NAME label,
        m_inf.PARENT_CODE parentCode,
        m_inf.MENULEVEL menulevel,
        m_inf.MENU_ORDER menuOrder,
        m_inf.MENU_STATUS menuStatus,
        m_inf.URL "url"
        FROM
       	SJS_PRM_MENU_INF m_inf
        WHERE m_inf.MENU_STATUS = 1
        ORDER BY m_inf.MENU_CODE
    </select>

    <select id="getMenus"  resultType = "com.icbc.super_shopping.entity.MenuInf" parameterType="java.util.List">
        SELECT
        m_inf.PK_MENU_INF pkMenuInf,
        m_inf.MENU_CODE menuCode,
        m_inf.MENU_NAME menuName,
        m_inf.PARENT_CODE parentCode,
        m_inf.MENULEVEL menulevel,
        m_inf.MENU_ORDER menuOrder,
        m_inf.MENU_STATUS menuStatus,
        m_inf.URL "url"
        FROM
        SJS_PRM_MENU_INF m_inf
        WHERE
        m_inf.MENU_CODE in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and m_inf.MENU_STATUS = 1
        ORDER BY m_inf.MENU_CODE
    </select>

</mapper>