<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.northking.iacmp.imp.mapper.OldImImageMapper">

    <resultMap type="OldImImage" id="OldImImageResult">
        <result property="id" column="ID"/>
        <result property="imageName" column="IMAGE_NAME"/>
        <result property="status" column="STATUS"/>
        <result property="batchId" column="BATCH_ID"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="serialno" column="SERIALNO"/>
        <result property="ecmFileId" column="ECM_FILE_ID"/>
        <result property="width" column="WIDTH"/>
        <result property="height" column="HEIGHT"/>
        <result property="billId" column="BILL_ID"/>
        <result property="compressFileId" column="COMPRESS_FILE_ID"/>
        <result property="templateId" column="TEMPLATE_ID"/>
        <result property="imageSize" column="IMAGE_SIZE"/>
        <result property="imagePath" column="IMAGE_PATH"/>
        <result property="ocrResult" column="OCR_RESULT"/>
        <result property="ocrStatus" column="OCR_STATUS"/>
        <result property="billName" column="BILL_NAME"/>
        <result property="remark" column="REMARK"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="createUserName" column="CREATE_USER_NAME"/>
        <result property="deleteTime" column="DELETE_TIME"/>
        <result property="systemFlag" column="SYSTEM_FLAG"/>
        <result property="deleteUser" column="DELETE_USER"/>
        <result property="deleteUserName" column="DELETE_USER_NAME"/>
        <result property="pzNum" column="PZ_NUM"/>
        <result property="imageSource" column="IMAGE_SOURCE"/>
        <result property="sysFlagInt" column="SYS_FLAG_INT"/>
        <result property="ocrType" column="OCR_TYPE"/>
        <result property="imageId" column="IMAGE_ID"/>
        <result property="userCodeId" column="USER_CODE_ID"/>
    </resultMap>

    <sql id="selectImImageVo">
        select ID, IMAGE_NAME, STATUS, BATCH_ID, CREATE_TIME, SERIALNO, ECM_FILE_ID, WIDTH, HEIGHT, BILL_ID,
        COMPRESS_FILE_ID, TEMPLATE_ID, IMAGE_SIZE, IMAGE_PATH, OCR_RESULT, OCR_STATUS, BILL_NAME, REMARK, CREATE_USER,
        CREATE_USER_NAME, DELETE_TIME, SYSTEM_FLAG, DELETE_USER, DELETE_USER_NAME, PZ_NUM, IMAGE_SOURCE, SYS_FLAG_INT,
        OCR_TYPE, IMAGE_ID, USER_CODE_ID from im_image
    </sql>

    <select id="selectImImageList" parameterType="OldImImage" resultMap="OldImImageResult">
        <include refid="selectImImageVo"/>
        <where>
            <if test="id != null  and id != '' ">and ID = #{id}</if>
            <if test="imageName != null  and imageName != '' ">and IMAGE_NAME = #{imageName}</if>
            <if test="status != null  and status != '' ">and STATUS = #{status}</if>
            <if test="batchId != null  and batchId != '' ">and BATCH_ID = #{batchId}</if>
            <if test="createTime != null ">and CREATE_TIME = #{createTime}</if>
            <if test="serialno != null ">and SERIALNO = #{serialno}</if>
            <if test="ecmFileId != null  and ecmFileId != '' ">and ECM_FILE_ID = #{ecmFileId}</if>
            <if test="width != null  and width != '' ">and WIDTH = #{width}</if>
            <if test="height != null  and height != '' ">and HEIGHT = #{height}</if>
            <if test="billId != null  and billId != '' ">and BILL_ID = #{billId}</if>
            <if test="compressFileId != null  and compressFileId != '' ">and COMPRESS_FILE_ID = #{compressFileId}</if>
            <if test="templateId != null  and templateId != '' ">and TEMPLATE_ID = #{templateId}</if>
            <if test="imageSize != null ">and IMAGE_SIZE = #{imageSize}</if>
            <if test="imagePath != null  and imagePath != '' ">and IMAGE_PATH = #{imagePath}</if>
            <if test="ocrResult != null  and ocrResult != '' ">and OCR_RESULT = #{ocrResult}</if>
            <if test="ocrStatus != null  and ocrStatus != '' ">and OCR_STATUS = #{ocrStatus}</if>
            <if test="billName != null  and billName != '' ">and BILL_NAME = #{billName}</if>
            <if test="remark != null  and remark != '' ">and REMARK = #{remark}</if>
            <if test="createUser != null  and createUser != '' ">and CREATE_USER = #{createUser}</if>
            <if test="createUserName != null  and createUserName != '' ">and CREATE_USER_NAME = #{createUserName}</if>
            <if test="deleteTime != null ">and DELETE_TIME = #{deleteTime}</if>
            <if test="systemFlag != null  and systemFlag != '' ">and SYSTEM_FLAG = #{systemFlag}</if>
            <if test="deleteUser != null  and deleteUser != '' ">and DELETE_USER = #{deleteUser}</if>
            <if test="deleteUserName != null  and deleteUserName != '' ">and DELETE_USER_NAME = #{deleteUserName}</if>
            <if test="pzNum != null ">and PZ_NUM = #{pzNum}</if>
            <if test="imageSource != null  and imageSource != '' ">and IMAGE_SOURCE = #{imageSource}</if>
            <if test="sysFlagInt != null ">and SYS_FLAG_INT = #{sysFlagInt}</if>
            <if test="ocrType != null  and ocrType != '' ">and OCR_TYPE = #{ocrType}</if>
            <if test="imageId != null ">and IMAGE_ID = #{imageId}</if>
            <if test="userCodeId != null  and userCodeId != '' ">and USER_CODE_ID = #{userCodeId}</if>
        </where>
    </select>

    <select id="selectImImageById" parameterType="String" resultMap="OldImImageResult">
        <include refid="selectImImageVo"/>
        where ID = #{id}
    </select>

    <insert id="insertImImage" parameterType="OldImImage" useGeneratedKeys="true"
            keyProperty="imageId">
        insert into im_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">ID,</if>
            <if test="imageName != null  and imageName != ''  ">IMAGE_NAME,</if>
            <if test="status != null  and status != ''  ">STATUS,</if>
            <if test="batchId != null  and batchId != ''  ">BATCH_ID,</if>
            <if test="createTime != null  ">CREATE_TIME,</if>
            <if test="serialno != null  ">SERIALNO,</if>
            <if test="ecmFileId != null  and ecmFileId != ''  ">ECM_FILE_ID,</if>
            <if test="width != null  and width != ''  ">WIDTH,</if>
            <if test="height != null  and height != ''  ">HEIGHT,</if>
            <if test="billId != null  and billId != ''  ">BILL_ID,</if>
            <if test="compressFileId != null  and compressFileId != ''  ">COMPRESS_FILE_ID,</if>
            <if test="templateId != null  and templateId != ''  ">TEMPLATE_ID,</if>
            <if test="imageSize != null  ">IMAGE_SIZE,</if>
            <if test="imagePath != null  and imagePath != ''  ">IMAGE_PATH,</if>
            <if test="ocrResult != null  and ocrResult != ''  ">OCR_RESULT,</if>
            <if test="ocrStatus != null  and ocrStatus != ''  ">OCR_STATUS,</if>
            <if test="billName != null  and billName != ''  ">BILL_NAME,</if>
            <if test="remark != null  and remark != ''  ">REMARK,</if>
            <if test="createUser != null  and createUser != ''  ">CREATE_USER,</if>
            <if test="createUserName != null  and createUserName != ''  ">CREATE_USER_NAME,</if>
            <if test="deleteTime != null  ">DELETE_TIME,</if>
            <if test="systemFlag != null  and systemFlag != ''  ">SYSTEM_FLAG,</if>
            <if test="deleteUser != null  and deleteUser != ''  ">DELETE_USER,</if>
            <if test="deleteUserName != null  and deleteUserName != ''  ">DELETE_USER_NAME,</if>
            <if test="pzNum != null  ">PZ_NUM,</if>
            <if test="imageSource != null  and imageSource != ''  ">IMAGE_SOURCE,</if>
            <if test="sysFlagInt != null  ">SYS_FLAG_INT,</if>
            <if test="ocrType != null  and ocrType != ''  ">OCR_TYPE,</if>
            <if test="userCodeId != null  and userCodeId != ''  ">USER_CODE_ID,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">#{id},</if>
            <if test="imageName != null  and imageName != ''  ">#{imageName},</if>
            <if test="status != null  and status != ''  ">#{status},</if>
            <if test="batchId != null  and batchId != ''  ">#{batchId},</if>
            <if test="createTime != null  ">#{createTime},</if>
            <if test="serialno != null  ">#{serialno},</if>
            <if test="ecmFileId != null  and ecmFileId != ''  ">#{ecmFileId},</if>
            <if test="width != null  and width != ''  ">#{width},</if>
            <if test="height != null  and height != ''  ">#{height},</if>
            <if test="billId != null  and billId != ''  ">#{billId},</if>
            <if test="compressFileId != null  and compressFileId != ''  ">#{compressFileId},</if>
            <if test="templateId != null  and templateId != ''  ">#{templateId},</if>
            <if test="imageSize != null  ">#{imageSize},</if>
            <if test="imagePath != null  and imagePath != ''  ">#{imagePath},</if>
            <if test="ocrResult != null  and ocrResult != ''  ">#{ocrResult},</if>
            <if test="ocrStatus != null  and ocrStatus != ''  ">#{ocrStatus},</if>
            <if test="billName != null  and billName != ''  ">#{billName},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="createUser != null  and createUser != ''  ">#{createUser},</if>
            <if test="createUserName != null  and createUserName != ''  ">#{createUserName},</if>
            <if test="deleteTime != null  ">#{deleteTime},</if>
            <if test="systemFlag != null  and systemFlag != ''  ">#{systemFlag},</if>
            <if test="deleteUser != null  and deleteUser != ''  ">#{deleteUser},</if>
            <if test="deleteUserName != null  and deleteUserName != ''  ">#{deleteUserName},</if>
            <if test="pzNum != null  ">#{pzNum},</if>
            <if test="imageSource != null  and imageSource != ''  ">#{imageSource},</if>
            <if test="sysFlagInt != null  ">#{sysFlagInt},</if>
            <if test="ocrType != null  and ocrType != ''  ">#{ocrType},</if>
            <if test="imageId != null  ">#{imageId},</if>
            <if test="userCodeId != null  and userCodeId != ''  ">#{userCodeId},</if>
        </trim>
    </insert>

    <update id="updateImImage" parameterType="OldImImage">
        update im_image
        <trim prefix="SET" suffixOverrides=",">
            <if test="imageName != null  and imageName != ''  ">IMAGE_NAME = #{imageName},</if>
            <if test="status != null  and status != ''  ">STATUS = #{status},</if>
            <if test="batchId != null  and batchId != ''  ">BATCH_ID = #{batchId},</if>
            <if test="createTime != null  ">CREATE_TIME = #{createTime},</if>
            <if test="serialno != null  ">SERIALNO = #{serialno},</if>
            <if test="ecmFileId != null  and ecmFileId != ''  ">ECM_FILE_ID = #{ecmFileId},</if>
            <if test="width != null  and width != ''  ">WIDTH = #{width},</if>
            <if test="height != null  and height != ''  ">HEIGHT = #{height},</if>
            <if test="billId != null  and billId != ''  ">BILL_ID = #{billId},</if>
            <if test="compressFileId != null  and compressFileId != ''  ">COMPRESS_FILE_ID = #{compressFileId},</if>
            <if test="templateId != null  and templateId != ''  ">TEMPLATE_ID = #{templateId},</if>
            <if test="imageSize != null  ">IMAGE_SIZE = #{imageSize},</if>
            <if test="imagePath != null  and imagePath != ''  ">IMAGE_PATH = #{imagePath},</if>
            <if test="ocrResult != null  and ocrResult != ''  ">OCR_RESULT = #{ocrResult},</if>
            <if test="ocrStatus != null  and ocrStatus != ''  ">OCR_STATUS = #{ocrStatus},</if>
            <if test="billName != null  and billName != ''  ">BILL_NAME = #{billName},</if>
            <if test="remark != null  and remark != ''  ">REMARK = #{remark},</if>
            <if test="createUser != null  and createUser != ''  ">CREATE_USER = #{createUser},</if>
            <if test="createUserName != null  and createUserName != ''  ">CREATE_USER_NAME = #{createUserName},</if>
            <if test="deleteTime != null  ">DELETE_TIME = #{deleteTime},</if>
            <if test="systemFlag != null  and systemFlag != ''  ">SYSTEM_FLAG = #{systemFlag},</if>
            <if test="deleteUser != null  and deleteUser != ''  ">DELETE_USER = #{deleteUser},</if>
            <if test="deleteUserName != null  and deleteUserName != ''  ">DELETE_USER_NAME = #{deleteUserName},</if>
            <if test="pzNum != null  ">PZ_NUM = #{pzNum},</if>
            <if test="imageSource != null  and imageSource != ''  ">IMAGE_SOURCE = #{imageSource},</if>
            <if test="sysFlagInt != null  ">SYS_FLAG_INT = #{sysFlagInt},</if>
            <if test="ocrType != null  and ocrType != ''  ">OCR_TYPE = #{ocrType},</if>
            <if test="userCodeId != null  and userCodeId != ''  ">USER_CODE_ID = #{userCodeId},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteImImageById" parameterType="String">
        delete from im_image where ID = #{id}
    </delete>

    <delete id="deleteImImageByIds" parameterType="String">
        delete from im_image where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectImImageByMap" parameterType="Map" resultMap="OldImImageResult">
        select i.ID, i.IMAGE_NAME, i.STATUS, i.BATCH_ID, i.CREATE_TIME,
        i.SERIALNO, i.ECM_FILE_ID, i.WIDTH, i.HEIGHT, i.BILL_ID, i.COMPRESS_FILE_ID,
        i.TEMPLATE_ID, i.IMAGE_SIZE, i.IMAGE_PATH, i.OCR_RESULT, i.OCR_STATUS,
        i.BILL_NAME, i.REMARK, i.CREATE_USER, i.CREATE_USER_NAME, i.DELETE_TIME,
        i.SYSTEM_FLAG, i.DELETE_USER, i.DELETE_USER_NAME, i.PZ_NUM, i.IMAGE_SOURCE,
        i.SYS_FLAG_INT, i.OCR_TYPE, i.IMAGE_ID, i.USER_CODE_ID
        from im_image i
        left join im_batch b on i.BATCH_ID = b.ID
        <where>
            <if test="id != null  and id != '' ">and i.id = #{id}</if>
            <if test="status != null  and status != '' ">and i.STATUS = #{status}</if>
            <if test="busiNo != null  and busiNo != '' ">and b.regbillglideno = #{busiNo}</if>
            <if test="transactionNo != null ">and b.TRANSACTION_NO = #{transactionNo}</if>
            <if test="billIds != null ">
                and i.bill_id in
                <foreach item="billId" collection="billIds" open="(" separator="," close=")">
                    #{billId}
                </foreach>
            </if>
            <if test="userIds != null ">
                and i.USER_CODE_ID in
                <foreach item="userId" collection="userIds" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
        </where>
    </select>

</mapper>