<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改档案销毁')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-amsDestroy-edit" th:object="${amsDestroy}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">销毁人号：</label>
            <div class="col-sm-8">
                <input id="opUserCode" name="opUserCode" th:field="*{opUserCode}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">销毁人名：</label>
            <div class="col-sm-8">
                <input id="opUserName" name="opUserName" th:field="*{opUserName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">销毁人机构号：</label>
            <div class="col-sm-8">
                <input id="opOrgCode" name="opOrgCode" th:field="*{opOrgCode}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">销毁人机构名：</label>
            <div class="col-sm-8">
                <input id="opOrgName" name="opOrgName" th:field="*{opOrgName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">销毁时间：</label>
            <div class="col-sm-8">
                <input id="opDate" name="opDate" th:field="*{opDate}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">销毁原因：</label>
            <div class="col-sm-8">
                <input id="destroyReason" name="destroyReason" th:field="*{destroyReason}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">档案数量：</label>
            <div class="col-sm-8">
                <input id="archivesNum" name="archivesNum" th:field="*{archivesNum}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">附件：</label>
            <div class="col-sm-8">
                <input id="destroyAttachment" name="destroyAttachment" th:field="*{destroyAttachment}"
                       class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">销毁档案id：</label>
            <div class="col-sm-8">
                <input id="amsArcId" name="amsArcId" th:field="*{amsArcId}" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "amsArcReportcontroller/amsDestroy";
    $("#form-amsDestroy-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-amsDestroy-edit').serialize());
        }
    }
</script>
</body>
</html>
