<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增档案参数')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-amsParam-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">参数种类代码：</label>
            <div class="col-sm-8">
                <input id="paramSpeciesCode" placeholder="请输入20字以内" th:maxlength="20" name="paramSpeciesCode"
                       class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数种类名称：</label>
            <div class="col-sm-8">
                <input id="paramSpeciesName"
                       placeholder="请输入64字以内" th:maxlength="64" name="paramSpeciesName" class="form-control" type="text"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数代码：</label>
            <div class="col-sm-8">
                <input id="paramCode" name="paramCode" placeholder="请输入小于10位的数字" th:maxlength="10"
                       oninput="value=value.replace(/[^\d]/g,'')" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数名称：</label>
            <div class="col-sm-8">
                <input id="paramName"
                       placeholder="请输入64字以内" th:maxlength="64" name="paramName" class="form-control" type="text"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input id="remark" name="remark" class="form-control" type="text" placeholder="请输入200字以内"
                       th:maxlength="200">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "param/amsParam"
    $("#form-amsParam-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-amsParam-add').serialize());
        }
    }
</script>
</body>
</html>
