<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('选择申请人')"/>
    <th:block th:include="include :: ztree-css"/>
</head>

<body class="gray-bg">
<input id="thisRowName" name="thisRowName" type="hidden"/>

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="role-form">
                <div class="select-list">
                    <input type="hidden" id="userId" name="userId" th:value="${userId}">
                    <ul>
                        <li>
                            用户名称：<input type="text" name="loginName"/>
                        </li>
                        <li>
                            手机号码：<input type="text" name="phonenumber"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
                <input type="hidden" name="deptId" th:value="${deptId}"/>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: ztree-js"/>
<script th:inline="javascript">
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "borrow/amsBorrowInfo";

    var deptId = [[${deptId}]];
    var userId = [[${userId}]];

    if (deptId == null) {
        deptId = 0;
    }
    if (userId == null) {
        userId = 0;
    }

    $(function () {
        var options = {
            // url: prefix + "/select/appUserList/" + deptId + "/" + userId,
            url: prefix + "/select/appUserList",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "申请人",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            clickToSelect: true,
            rememberSelected: true,
            onClickRow: onClickRow,
            onDblClickRow: onDblClickRow,

            columns: [{
                field: 'userId',
                title: '用户ID',
                visible: false
            },
                {
                    field: 'loginName',
                    title: '登录名称',
                    sortable: true
                },
                {
                    field: 'dept.deptName',
                    title: '部门'
                },
                {
                    field: 'userName',
                    title: '用户名称'
                },
                {
                    field: 'email',
                    title: '邮箱'
                },
                {
                    field: 'phonenumber',
                    title: '手机'
                },
                {
                    field: 'status',
                    title: '用户状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                }]
        };
        $.table.init(options);
    });

    function onClickRow(row, $element) {
        var id = window.location.href.split('=')[1];
        var thisRowName = row.userName;
        $("#thisRowName").val(thisRowName);
        $element.siblings().css('background', 'transparent')
        $element.css('background', '#e5e5e5')
    }

    function onDblClickRow(row, $element) {
        var id = "appOpName";//申请人输入框Id window.location.href.split('=')[1];
        // alert(id)
        var thisRowName = row.userName;
        $("#thisRowName").val(thisRowName)
        $('#' + id).val($("#thisRowName").val())
        parent.$('#' + id).val($("#thisRowName").val())
        var index = parent.layer.index; //获取当前弹层的索引号
        parent.layer.close(index); //关闭当前弹层
    }

</script>
</body>
</html>